@media screen and (max-width: 1000px) {
	.container {
		padding: 0 40px;
	}

	nav#main-menu ul {
		display: none;
	}

	.overlay {
		padding: 10px;
	}

	.gallery li .gallery-tools {
		position: inherit;
		top: 0;
	}

	.select-menu {
		display: inline-block;
	}

	.home-widget.home-gallery .section-title h3,
	.home-widget.home-blog .section-title h3 {
		font-size: 15px;
		letter-spacing: 1px;
		margin-bottom: 10px;
	}

	.home-widget.home-gallery .section-title .section-subtitle,
	.home-widget.home-blog .section-title .section-subtitle {
		font-size: 11px;
	}

	.home-widget.home-gallery .section-title .section-subtitle:before,
	.home-widget.home-blog .section-title .section-subtitle:before,
	.home-widget.home-gallery .section-title .section-subtitle:after,
	.home-widget.home-blog .section-title .section-subtitle:after {
		display: none;
	}

	.grid li h2, 
	.blog-post .detail h2 {
		font-size: 16px;
	}

	.grid li p.excerpt {
		display: none;
	}

	#countdown {
		padding: 20px;
		text-align: center;
	}

	#countdown .number {
		display: inline-block;
		padding: 10px;
		font-size: 24px !important;
	}

	#countdown .text {
	}

	#countdown-widget .section-title {
		padding: 0 10px;
	}

	#countdown-widget .section-title h3 {
		margin-bottom: 0;
	}

	.rsvp-holder {
		position: inherit;
		width: 100%;
	}

	.rsvp-holder .rsvp {
		width: 100%;
	}

	#gallery-page.page .gallery li,
	.accomodations ul li {
		width: 48%;
		margin-right: 4%;
	}

	#gallery-page.page .gallery li:nth-child(3n+3),
	.accomodations ul li:nth-child(3n+3) {
		margin-right: 4%;
	}

	#gallery-page.page .gallery li:nth-child(2n+2),
	.accomodations ul li:nth-child(2n+2) {
		margin-right: 0;
	}

	.meta span.rating {
		display: block;
		margin: 0;
	}

	.meta .user-rating {
		top: 0;
	}
}

@media screen and (max-width: 800px) {
	body.admin-bar #header {
		top: 46px;
	}

	.wedding-info .wedding-date span.text {
		display: block;
		margin-right: 0;
	}

	#couple ul li,
	.home-couple-tweets .tweets {
		display: block;
		width: 60%;
		margin: 0 auto 40px auto !important;
	}

	#about-couple {
		margin-top: 0;
	}

	#countdown .number-container {
		width: 14%;
		margin-right: 2%;
	}

	#countdown .text {
		font-size: 8px !important;
	}

	.wedding-info .name {
		font-size: 35px;
	}

	.wedding-info .name span {
		font-size: 18px;
	}

	#couple ul li .thumbnail {
		margin-top: 0;
	}

	#main-slider .wedding-info {
		bottom: 0;
	}

	#logo .detail .names {
		font-size: 24px;
		margin-bottom: 0;
	}

	#logo .detail .events-info {
		font-size: 10px;
	}

	#leftcontent,
	#rightcontent {
		margin-right: 0;
		width: 100%;
	}

	#rightcontent {
		margin-top: 50px;
	}

	.timeline:before {
		left: 0;
		margin-left: 2px;
	}

	.timeline ul {
		padding-top: 0;
	}

	.timeline ul li {
		padding: 0 0 40px 40px;
		text-align: left !important;
	}

	.timeline ul > li:nth-child(2) {
		margin-top: 0;
	}

	.timeline ul li.even,
	.timeline ul li.odd {
		float: left;
		width: 100%;
	}

	.timeline ul li.odd:before {
		right: inherit;
		left: 0;
		margin-right: inherit;
		margin-left: -6px;
	}

	.timeline ul li.even:before {
		left: -6px;
	}

	.timeline ul li.odd:hover:before {
		margin-right: inherit;
		margin-left: -10px;
	}

	.home-widget.square .section-title {
		position: inherit;
		width: 100%;
		padding: 40px 0;
	}

	ul.gallery.grid li, 
	ul.grid li,
	.home-widget.home-gallery .section-title,
	.home-widget.home-blog .section-title {
		width: 33.33%;
	}

	ul.gallery.grid .gallery li, 
	ul.grid li {
		padding: 0;
	}

	ul.gallery.grid .gallery li:first-child, 
	ul.grid li:first-child {
		margin-left: 33.33% !important;
	}

	.friends ul li {
		width: 33.33%;
	}

	.section-title .section-subtitle:after, 
	.section-title .section-subtitle:before {
		width: 80px;
	}

	.posts-grid ul li {
		width: 45.5%;
		margin-right: 6%;
	}

	.posts-grid ul li:nth-child(3n+3) {
		margin-right: 6%;
	}

	.posts-grid ul li:nth-child(2n+2) {
		margin-right: 0;
	}

	.posts-grid .meta {
		margin: 10px 0 20px 0;
	}

	.posts-grid .meta span {
		display: block;
		margin-bottom: 5px;
	}

	.home-accommodations .posts-grid .meta .user-rating {
		top: 0;
	}

	.testimoni {
		padding: 20px 40px;
	}

	.flex-direction-nav li {
		left: -30px !important;
	}

	.flex-direction-nav li:last-child {
		right: -30px !important;
		left: inherit !important;
	}

	#leftcontent .blog-post .thumbnail {
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.blog-post .detail {
		margin-left: 0;
	}

	.tax-gallery ul.gallery.grid li, .index-blog ul.grid li {
		width: 49%;
	}
}

@media screen and (max-width: 600px) {
	#couple ul li,
	.friends ul li,
	#twitter-widget .tweets {
		width: 100%;
		margin-bottom: 40px;
	}

	.tax-gallery ul.gallery.grid li, .index-blog ul.grid li {
		width: 100%;
		margin-right: 0;
	}

	.home.page .wedding-info .and,
	.home.page .wedding-info .name,
	.home.page .wedding-info .name span {
	}

	.wedding-info .name {
		margin: 0 !important;
	}
	.home.page .wedding-info .and {
		margin: 20px 5px;
	}

	.posts-grid ul li {
		width: 100%;
		margin-right: 0;
	}

	#couple ul li .thumbnail {
		margin-top: 0;
	}

	.friends ul li {
		margin-right: 0;
	}

	#twitter-widget #groom-twitter .tweet-account,
	#twitter-widget #groom-twitter.tweets ul li {
		text-align: left;
	}

	.section-title .section-subtitle {
		font-size: 12px;
	}

	ul.gallery.grid li, 
	ul.grid li,
	.home-widget.home-gallery .section-title,
	.home-widget.home-blog .section-title {
		width: 50%;
	}

	ul.gallery.grid .gallery li:first-child, 
	ul.grid li:first-child {
		margin-left: 50% !important;
	}

	#guestbook .owl-wrapper-outer {
		padding-top: 50px;
	}
}

@media screen and (max-width: 480px) {
	#box-wrapper {
		width: 280px;
	}

	#main-slider .section-title {
		margin: 5% 0 40px 0;
	}

	#main-slider.static .wedding-info .name {
		font-size: 1.5em;
		margin: 0 2% !important;
	}

	.wedding-info .name {
		font-size: 25px !important;
	}

	.wedding-info .name span {
		font-size: 14px !important;
	}

	.wedding-info .and {
		font-size: 60px;
		top: 12px;
	}

	.container {
		padding: 0 20px;
	}

	#logo {
		margin: 0 20px 20px 20px;
	}

	#main-slider .section-title .section-subtitle:before,
	#main-slider .section-title .section-subtitle:after {
		display: none;
	}

	.logo-icon {
		border-right: none;
		border-bottom: solid 5px;
		width: 100%;
	}

	#logo .detail {
		text-align: center;
	}

	#couple ul li {
		margin-right: 0;
		padding: 0;
	}

	#couple ul li .thumbnail {
		width: 200px;
		height: 200px;
	}

	.section-title h3 {
		font-size: 20px !important;
	}

	.home-widget .section-title .section-subtitle {
		font-size: 14px !important;
	}

	.section-title .icon {
		font-size: 25px !important;
	}

	.flex-direction-nav li {
		left: -20px !important;
	}

	.flex-direction-nav li:last-child {
		right: -20px !important;
		left: inherit !important;
	}


	.section-title .section-subtitle:after, 
	.section-title .section-subtitle:before {
		width: 40px;
	}

	ul.gallery.grid li, 
	ul.grid li,
	.home-widget.home-gallery .section-title,
	.home-widget.home-blog .section-title {
		width: 100%;
	}

	ul.gallery.grid .gallery li:first-child, 
	ul.grid li:first-child {
		margin-left: 0 !important;
	}

	.posts-grid ul li {
		width: 100%;
		margin: 0 0 20px 0;
	}

	.posts-grid ul li:last-child {
		margin-bottom: 0;
	}

	#leftcontent article.hentry h1.entry-title, 
	#leftcontent article.hentry h2.entry-title, 
	h1.page-title, #leftcontent .post-content h1 {
		font-size: 30px !important;
	}

	#twitter-widget .tweet-account,
	#twitter-widget .tweets ul li {
		text-align: center !important;
	}

	a.filter {
		width: 100%;
	}
	.friends .filters a.filter.active {
		background: #ccc
	}

	

	.timeline ul li {
		padding: 0 0 40px 20px;
	}

	#countdown {
		padding: 20px 0 20px 0
	}

	#countdown .number-container {
		width: 10%;
	}

	#countdown .number {
		font-size: 18px !important;
		padding: 5px !important;
	}

	footer#footer {
		padding: 25px 0;
	}

	#footer .couple-name {
		font-size: 16px !important;
	}

	footer#footer,
	#footer .copyright {
		font-size: 12px !important;
	}
}
