/* =====================================
  [Master Stylesheet]
  Project:	Clarissa Wedding HTML Template
  Version:	2.0
  Last change:	11/07/2017
  Assigned to:	themeforest.net
  Author:	Javatheme/Actionart */
/* ===================================== */
/* TABLE OF CONTENTS */
/* ================================== */
/* BASE
  - GLOBAL */
/* ================================== */
/* MODULES
  - SECTION HEADER
  - SECTION BACKGROUND
  - BUTTON
  - FORM
  - MFP WITH ZOOM */
/* ================================== */
/* SECTIONS
  - NAVBAR SECTION
  - BANNER STANDART 1
  - BANNER STANDART 2
  - BANNER STANDART 3
  - BANNER STANDART 4
  - BANNER STANDART 5
  - BANNER STANDART 6
  - BANNER STANDART 7
  - BANNER STANDART 8
  - WELCOME SECTION
  - PROFILE SECTION
  - FAMILY SECTION
  - EVENTS SECTION
  - BLOG SECTION
  - GIFT SECTION
  - TESTIMONY SECTION
  - GALLERY SECTION
  - RSPV SECTION
  - FOOTER SECTION
  - BANNER PAGE
  - BLOG POST STANDART
  - BLOG PAGE STANDART
  - COMMENTS SECTION
  - DEMO LIST SECTION
  - FOOTER LIST SECTION */
/* ================================== */
/* BODY */
/* ================================== */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background: #f2e4eb; }

/* HEADING */
/* ================================== */
h1, h2, h3, h4, h5, h6 {
  font-family: "Great Vibes", cursive;
  margin: 0; }

/* PARAGRAPH */
/* ================================== */
p {
  margin: 0;
  color: #beadc9;
  line-height: 185.71429%;
  letter-spacing: 0.02em;
  color: #908499; }

/* ANCHOR */
/* ================================== */
a {
  color: #ad658b;
  transition: all 200ms ease-out; }
  a:hover {
    color: #8e3c67;
    text-decoration: none; }

/* SHORTHAND TO REMOVE MARGIN AND PADDING OF BOOTSTRAP */
/* ================================== */
.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

/* SECTION-HEADER */
/* ================================== */
.section-header {
  position: relative;
  margin-bottom: 60px; }
  .section-header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 154px;
    opacity: 0.2; }
  .section-header h2, .section-header h6 {
    z-index: 3;
    position: relative; }
  .section-header h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #ad658b; }
  .section-header h6 {
    font-size: 30px;
    line-height: 100%;
    color: #79578e;
    margin-bottom: 7px; }

/* SECTION-BACKGROUND */
/* ================================== */
.section-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%; }
  .section-background .flower {
    position: absolute;
    top: 50%; }
    .section-background .flower.right {
      right: -5%;
      transform: rotateY(0) translateY(-50%); }
    .section-background .flower.left {
      left: -5%;
      transform: rotateY(180deg) translateY(-50%); }

/* BTN */
/* ================================== */
.btn {
  text-transform: uppercase;
  cursor: pointer; }

/* BTN-DEFAULT */
/* ================================== */
.btn-default {
  background: #79578e;
  border-radius: 30px;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #fff3f1;
  padding: 10px 20px;
  transition: all 150ms ease-in-out; }
  .btn-default:hover {
    background: #9370a8;
    color: #fff3f1; }
  .btn-default:focus {
    box-shadow: none; }

/* FORM GROUP */
/* ================================== */
.form-group {
  margin-bottom: 15px; }

/* FORM-CONTROL */
/* ================================== */
.form-control {
  background: #e2dbe7;
  padding: 15px 23px;
  border: 2px solid #beadc9;
  border-radius: 10px;
  text-transform: capitalize;
  color: #ad658b;
  transition: all 300ms ease-out; }
  .form-control:focus {
    background-color: #f2e4eb;
    color: #ad658b;
    border-color: #ad658b;
    box-shadow: none; }
  .form-control:hover::placeholder {
    color: #ad658b; }
  .form-control::placeholder {
    font-size: 16px;
    color: #977da8;
    text-transform: capitalize; }
  .form-control[type='email'] {
    text-transform: lowercase; }

/* MFP-WITH-ZOOM */
/* ================================== */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out; }

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1; }

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0; }

/* SOUNDCLOUD PLAYER */
/* ================================== */
#soundcloud-player {
  z-index: 10;
  position: fixed;
  right: 0;
  bottom: 0; }
  #soundcloud-player .music-button {
    position: absolute;
    right: -50px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    background: #beadc9;
    border-radius: 100%;
    border: 2px dashed #beadc9;
    cursor: pointer;
    opacity: 0.5;
    transition: all 200ms ease-out; }
    #soundcloud-player .music-button:hover {
      background: #5c3575;
      border-color: #5c3575;
      opacity: 1; }
    #soundcloud-player .music-button:hover i.icon.ion-music-note {
      color: #e2dbe7; }
    #soundcloud-player .music-button i.icon.ion-music-note {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      color: #5c3575;
      transition: all 200ms ease-out; }
  #soundcloud-player .music-frame {
    position: absolute;
    right: -100px;
    bottom: 100px;
    width: 300px;
    height: auto;
    transition: all 200ms ease-out; }

/* NAVBAR */
/* ================================== */
.navbar {
  background: #e2dbe7;
  height: 60px; }
  @media (max-width: 768px) {
    .navbar {
      background: #cc95b2;
      height: inherit; } }
  .navbar .navbar-brand:hover > img {
    transform: translateX(10px); }
  .navbar .navbar-brand img {
    width: 100px;
    height: auto;
    transition: all 200ms ease-out; }

.navbar-toggler {
  background-image: url("../img/hamburger-icon.svg");
  background-repeat: no-repeat;
  cursor: pointer; }
  .navbar-toggler:active, .navbar-toggler:focus {
    outline: 0;
    box-shadow: none; }

@media (max-width: 768px) {
  #navbar-section {
    padding-top: 15px;
    padding-bottom: 15px; } }

@media (max-width: 768px) {
  #navbar-section .navbar-nav {
    align-items: flex-start !important; } }

#navbar-section .navbar-nav > .nav-item.cta-rspv:hover {
  background: #8e3c67; }

#navbar-section .navbar-nav > .nav-item.cta-rspv:hover > .nav-link::after {
  background: #e2dbe7; }

#navbar-section .nav-item {
  padding: 0 0.25em; }

#navbar-section .nav-link {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.08em;
  color: #5c3575;
  position: relative;
  transition: all 200ms ease-out; }
  #navbar-section .nav-link:hover {
    color: #8e3c67; }
  #navbar-section .nav-link:hover::after {
    width: 20px; }
  #navbar-section .nav-link::after {
    content: "";
    background: #5c3575;
    width: 0;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: all 200ms ease-out; }
    @media (max-width: 768px) {
      #navbar-section .nav-link::after {
        left: 0;
        transform: translateX(0); } }

#navbar-section .cta-rspv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #79578e;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 15px;
  position: relative;
  mask: url("../img/rectangle.svg"), url("../img/elipse.svg"), url("../img/elipse.svg");
  mask-size: 100%, 20px, 20px;
  mask-composite: source-out;
  mask-repeat: repeat, no-repeat, no-repeat;
  mask-position: 0 0, -10px calc(100% + 10px), calc(100% + 10px) calc(100% + 10px); }
  @media (max-width: 768px) {
    #navbar-section .cta-rspv {
      display: none; } }
  #navbar-section .cta-rspv::after {
    content: "";
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 35%;
    border: 1px dashed #fff3f1;
    z-index: -1; }
  #navbar-section .cta-rspv span {
    line-height: 14px;
    color: #fff3f1;
    display: block;
    margin: 5px 0; }

/*BANNER-STANDART-1 */
/* ================================== */
#banner-standart-1 {
  height: 100vh;
  position: relative;
  background: #e2dbe7;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
  overflow: hidden; }
  #banner-standart-1::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #f2e4eb;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    z-index: -1; }
  #banner-standart-1 .container-fluid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #banner-standart-1 .banner-content {
    text-align: center; }
  #banner-standart-1 .banner-sub-heading {
    margin-bottom: 90px; }
    #banner-standart-1 .banner-sub-heading h2 {
      padding: 15px 30px;
      border-top: 4px dotted #beadc9;
      border-bottom: 4px dotted #beadc9;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.44em;
      color: #79578e;
      display: inline-block;
      position: relative; }
      #banner-standart-1 .banner-sub-heading h2::before, #banner-standart-1 .banner-sub-heading h2::after {
        content: "";
        background: #beadc9;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
      #banner-standart-1 .banner-sub-heading h2::before {
        left: 0; }
      #banner-standart-1 .banner-sub-heading h2::after {
        right: 0; }
  #banner-standart-1 .banner-heading {
    width: 40%;
    height: auto;
    position: relative;
    margin: 30px auto; }
    @media (max-width: 540px) {
      #banner-standart-1 .banner-heading {
        width: 100%; } }
    #banner-standart-1 .banner-heading h1 {
      font-size: 72px;
      line-height: 72px;
      color: #5c3575;
      display: inline-block;
      background: transparent;
      padding: 20px 60px;
      position: relative;
      z-index: 1; }
      #banner-standart-1 .banner-heading h1::before {
        z-index: -1;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff3f1;
        border-radius: 60px;
        mask: url("../img/rectangle.svg"), url("../img/elipse.svg"), url("../img/elipse.svg");
        mask-repeat: repeat, no-repeat, no-repeat;
        mask-size: 100%, 20px, 20px;
        mask-position: 0 0, 30px calc(50%), calc(100% - 30px) calc(50%);
        mask-composite: source-out; }
  #banner-standart-1 .flower {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    #banner-standart-1 .flower.left {
      left: 60px;
      transform: translateY(-50%) rotate(-90deg); }
    #banner-standart-1 .flower.right {
      right: 60px;
      transform: translateY(-50%) rotate(-90deg) rotateX(180deg); }
    #banner-standart-1 .flower img {
      width: 230px;
      height: auto; }
  #banner-standart-1 .banner-date ul {
    list-style-type: none;
    padding: 10px 0;
    background: #5c3575;
    border-radius: 30px;
    width: 250px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    #banner-standart-1 .banner-date ul::before {
      content: "";
      width: calc(100% + 30px);
      height: calc(100% + 30px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px dashed #beadc9;
      border-radius: 60px; }
    #banner-standart-1 .banner-date ul li {
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
      color: #fff3f1; }
    #banner-standart-1 .banner-date ul li > span.dot {
      display: block;
      width: 10px;
      height: 10px;
      background: #79578e;
      border-radius: 100%;
      margin: 0 10px; }
  #banner-standart-1 .banner-detail {
    position: relative;
    padding-top: 40px; }
    #banner-standart-1 .banner-detail h3 {
      font-size: 26px;
      line-height: 26px;
      color: #ad658b;
      margin-bottom: 20px; }
    #banner-standart-1 .banner-detail p {
      font-size: 12px;
      line-height: 166.66667%;
      letter-spacing: 0.2em;
      color: #79578e;
      width: 300px;
      margin: 0 auto; }

/* BANNER-STANDART-2 */
/* ================================== */
#banner-standart-2 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  #banner-standart-2::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #f2e4eb;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9; }
  #banner-standart-2 .container-fluid {
    height: 100vh;
    position: relative; }
    @media (max-width: 768px) {
      #banner-standart-2 .container-fluid {
        height: 800px; } }
  #banner-standart-2 .banner-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 550px;
    width: 100%;
    z-index: 1; }
  #banner-standart-2 .content-bottom {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); }
  #banner-standart-2 .banner-flower {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -60px; }
    #banner-standart-2 .banner-flower img {
      width: 80%;
      height: 80%;
      transform: rotate(-90deg); }
  #banner-standart-2 .banner-sub-heading {
    margin-bottom: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); }
    #banner-standart-2 .banner-sub-heading h2 {
      display: inline-block;
      font-size: 12px;
      font-family: "Montserrat", sans-serif;
      line-height: 12px;
      letter-spacing: 0.4em;
      color: #79578e;
      padding: 15px 30px;
      border-top: 2px dashed #beadc9;
      border-bottom: 2px dashed #beadc9;
      position: relative; }
      @media (max-width: 540px) {
        #banner-standart-2 .banner-sub-heading h2 {
          padding-left: 20px;
          padding-right: 20px; } }
      #banner-standart-2 .banner-sub-heading h2::after, #banner-standart-2 .banner-sub-heading h2::before {
        content: "";
        width: 10px;
        height: 10px;
        background: #beadc9;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
      #banner-standart-2 .banner-sub-heading h2::before {
        left: 0; }
      #banner-standart-2 .banner-sub-heading h2::after {
        right: 0; }
  #banner-standart-2 .banner-heading {
    margin-bottom: 40px; }
    #banner-standart-2 .banner-heading h1 {
      font-size: 72px;
      line-height: 72px;
      color: #5c3575; }
      @media (max-width: 540px) {
        #banner-standart-2 .banner-heading h1 {
          font-size: 60px; } }
  #banner-standart-2 .banner-date {
    margin-bottom: 40px;
    position: relative;
    top: 250px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3)); }
    #banner-standart-2 .banner-date ul {
      list-style-type: none;
      padding: 10px 15px;
      margin: 0 auto;
      width: 180px;
      background: #5c3575;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      position: relative; }
      #banner-standart-2 .banner-date ul li {
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.06em;
        color: #fff3f1; }
      #banner-standart-2 .banner-date ul li > span.dot {
        width: 8px;
        height: 8px;
        background: #977da8;
        border-radius: 100%;
        display: block;
        margin: 0 10px; }
  #banner-standart-2 .banner-detail {
    padding: 15px 30px;
    border: 2px dashed #beadc9;
    border-radius: 60px; }
    #banner-standart-2 .banner-detail h3 {
      font-size: 26px;
      color: #ad658b;
      margin-bottom: 20px; }
    #banner-standart-2 .banner-detail p {
      font-size: 12px;
      line-height: 166.66667%;
      letter-spacing: 0.2em;
      color: #79578e;
      display: inline-block;
      width: 300px;
      margin: 0 auto; }

/* BANNER-STANDART-3 */
/* ================================== */
#banner-standart-3 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  #banner-standart-3::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #f2e4eb;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9; }
  #banner-standart-3 .container-fluid {
    height: 100vh;
    position: relative; }
    @media (max-width: 768px) {
      #banner-standart-3 .container-fluid {
        height: 700px; } }
  #banner-standart-3 .banner-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; }
  #banner-standart-3 .banner-flower {
    width: 100%;
    height: 100%;
    position: absolute; }
    #banner-standart-3 .banner-flower .flower {
      position: absolute;
      top: 50%; }
      #banner-standart-3 .banner-flower .flower img {
        width: 290px;
        height: auto; }
      #banner-standart-3 .banner-flower .flower.left {
        left: -70%;
        transform: translateY(-50%) rotateX(180deg); }
      #banner-standart-3 .banner-flower .flower.right {
        right: -70%;
        transform: translateY(-50%) rotate(180deg); }
  #banner-standart-3 .banner-sub-heading {
    margin-bottom: 40px; }
    #banner-standart-3 .banner-sub-heading h2 {
      display: inline-block;
      font-size: 12px;
      font-family: "Montserrat", sans-serif;
      line-height: 12px;
      letter-spacing: 0.4em;
      color: #79578e;
      padding: 15px 30px;
      border-top: 2px dashed #beadc9;
      border-bottom: 2px dashed #beadc9;
      position: relative; }
      #banner-standart-3 .banner-sub-heading h2::after, #banner-standart-3 .banner-sub-heading h2::before {
        content: "";
        width: 10px;
        height: 10px;
        background: #beadc9;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
      #banner-standart-3 .banner-sub-heading h2::before {
        left: 0; }
      #banner-standart-3 .banner-sub-heading h2::after {
        right: 0; }
  #banner-standart-3 .banner-heading {
    margin-bottom: 40px; }
    #banner-standart-3 .banner-heading h1 {
      font-size: 72px;
      line-height: 72px;
      color: #5c3575; }
  #banner-standart-3 .banner-date {
    margin-bottom: 40px; }
    #banner-standart-3 .banner-date ul {
      list-style-type: none;
      padding: 10px 15px;
      margin: 0 auto;
      width: 200px;
      background: #5c3575;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      position: relative; }
      #banner-standart-3 .banner-date ul::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% + 15px);
        height: calc(100% + 15px);
        border: 2px dashed #beadc9;
        border-radius: 30px; }
      #banner-standart-3 .banner-date ul li {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.06em;
        color: #fff3f1; }
      #banner-standart-3 .banner-date ul li > span.dot {
        width: 10px;
        height: 10px;
        background: #977da8;
        border-radius: 100%;
        display: block;
        margin: 0 10px; }
  #banner-standart-3 .banner-detail h3 {
    font-size: 26px;
    color: #ad658b;
    margin-bottom: 20px; }
  #banner-standart-3 .banner-detail p {
    font-size: 12px;
    line-height: 166.66667%;
    letter-spacing: 0.2em;
    color: #79578e;
    display: inline-block;
    width: 300px;
    margin: 0 auto; }

/* BANNER-STANDART-4 */
/* ================================== */
#banner-standart-4 {
  height: 100vh;
  position: relative;
  background: #e2dbe7;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  #banner-standart-4 .container-fluid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #banner-standart-4 .banner-content {
    text-align: center; }
  #banner-standart-4 .banner-sub-heading {
    margin-bottom: 90px; }
    #banner-standart-4 .banner-sub-heading h2 {
      padding: 15px 30px;
      border-top: 4px dotted #beadc9;
      border-bottom: 4px dotted #beadc9;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.44em;
      color: #5c3575;
      display: inline-block;
      position: relative; }
      #banner-standart-4 .banner-sub-heading h2::before, #banner-standart-4 .banner-sub-heading h2::after {
        content: "";
        background: #beadc9;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
      #banner-standart-4 .banner-sub-heading h2::before {
        left: 0; }
      #banner-standart-4 .banner-sub-heading h2::after {
        right: 0; }
  #banner-standart-4 .banner-heading {
    width: 40%;
    height: auto;
    position: relative;
    margin: 30px auto; }
    #banner-standart-4 .banner-heading h1 {
      font-size: 72px;
      line-height: 72px;
      color: #fff3f1;
      display: inline-block;
      background: transparent;
      padding: 20px 60px;
      position: relative;
      z-index: 1; }
      #banner-standart-4 .banner-heading h1::before {
        z-index: -1;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(92, 53, 117, 0.5);
        border-radius: 60px;
        mask: url("../img/rectangle.svg");
        mask-repeat: repeat;
        mask-size: 100%;
        mask-position: 0 0; }
  #banner-standart-4 .flower {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    #banner-standart-4 .flower.left {
      left: 60px;
      transform: translateY(-50%) rotate(-90deg); }
    #banner-standart-4 .flower.right {
      right: 60px;
      transform: translateY(-50%) rotate(-90deg) rotateX(180deg); }
    #banner-standart-4 .flower img {
      width: 230px;
      height: auto; }
  #banner-standart-4 .banner-date ul {
    list-style-type: none;
    padding: 10px 0;
    background: #5c3575;
    border-radius: 30px;
    width: 250px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    #banner-standart-4 .banner-date ul::before {
      content: "";
      width: calc(100% + 30px);
      height: calc(100% + 30px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px dashed #beadc9;
      border-radius: 60px; }
    #banner-standart-4 .banner-date ul li {
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
      color: #fff3f1; }
    #banner-standart-4 .banner-date ul li > span.dot {
      display: block;
      width: 10px;
      height: 10px;
      background: #79578e;
      border-radius: 100%;
      margin: 0 10px; }
  #banner-standart-4 .banner-detail {
    position: relative;
    padding-top: 40px; }
    #banner-standart-4 .banner-detail h3 {
      font-size: 26px;
      line-height: 26px;
      color: #f2e4eb;
      margin-bottom: 20px; }
    #banner-standart-4 .banner-detail p {
      font-size: 12px;
      line-height: 166.66667%;
      letter-spacing: 0.2em;
      color: #e2dbe7;
      width: 300px;
      margin: 0 auto; }

/* BANNER-STANDART-5 */
/* ================================== */
#banner-standart-5 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  #banner-standart-5 .container-fluid {
    height: 100vh;
    position: relative; }
    @media (max-width: 768px) {
      #banner-standart-5 .container-fluid {
        height: 800px; } }
  #banner-standart-5 .banner-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 550px;
    width: 100%;
    z-index: 1; }
  #banner-standart-5 .content-bottom {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); }
  #banner-standart-5 .banner-flower {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -60px; }
    #banner-standart-5 .banner-flower img {
      width: 80%;
      height: 80%;
      transform: rotate(-90deg); }
  #banner-standart-5 .banner-sub-heading {
    margin-bottom: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); }
    #banner-standart-5 .banner-sub-heading h2 {
      display: inline-block;
      font-size: 12px;
      font-family: "Montserrat", sans-serif;
      line-height: 12px;
      letter-spacing: 0.4em;
      color: #ad658b;
      padding: 15px 30px;
      border-top: 2px dashed #e1bfd1;
      border-bottom: 2px dashed #e1bfd1;
      position: relative; }
      @media (max-width: 540px) {
        #banner-standart-5 .banner-sub-heading h2 {
          padding-left: 20px;
          padding-right: 20px; } }
      #banner-standart-5 .banner-sub-heading h2::after, #banner-standart-5 .banner-sub-heading h2::before {
        content: "";
        width: 10px;
        height: 10px;
        background: #e1bfd1;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
      #banner-standart-5 .banner-sub-heading h2::before {
        left: 0; }
      #banner-standart-5 .banner-sub-heading h2::after {
        right: 0; }
  #banner-standart-5 .banner-heading {
    margin-bottom: 40px; }
    #banner-standart-5 .banner-heading h1 {
      font-size: 72px;
      line-height: 72px;
      color: #8e3c67;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
      @media (max-width: 540px) {
        #banner-standart-5 .banner-heading h1 {
          font-size: 60px; } }
  #banner-standart-5 .banner-date {
    margin-bottom: 40px;
    position: relative;
    top: 250px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3)); }
    #banner-standart-5 .banner-date ul {
      list-style-type: none;
      padding: 10px 15px;
      margin: 0 auto;
      width: 180px;
      background: #5c3575;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      position: relative; }
      #banner-standart-5 .banner-date ul li {
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.06em;
        color: #fff3f1; }
      #banner-standart-5 .banner-date ul li > span.dot {
        width: 8px;
        height: 8px;
        background: #977da8;
        border-radius: 100%;
        display: block;
        margin: 0 10px; }
  #banner-standart-5 .banner-detail {
    padding: 15px 30px;
    border-radius: 60px;
    background: rgba(92, 53, 117, 0.8); }
    #banner-standart-5 .banner-detail h3 {
      font-size: 26px;
      color: #f2e4eb;
      margin-bottom: 20px; }
    #banner-standart-5 .banner-detail p {
      font-size: 12px;
      line-height: 166.66667%;
      letter-spacing: 0.2em;
      color: #e2dbe7;
      display: inline-block;
      width: 300px;
      margin: 0 auto; }

/* BANNER-STANDART-6 */
/* ================================== */
#banner-standart-6 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  #banner-standart-6 .container-fluid {
    height: 100vh;
    position: relative; }
    @media (max-width: 768px) {
      #banner-standart-6 .container-fluid {
        height: 700px; } }
  #banner-standart-6 .banner-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; }
  #banner-standart-6 .banner-flower {
    width: 100%;
    height: 100%;
    position: absolute; }
    #banner-standart-6 .banner-flower .flower {
      position: absolute;
      top: 50%; }
      #banner-standart-6 .banner-flower .flower img {
        width: 290px;
        height: auto; }
      #banner-standart-6 .banner-flower .flower.left {
        left: -70%;
        transform: translateY(-50%) rotateX(180deg); }
      #banner-standart-6 .banner-flower .flower.right {
        right: -70%;
        transform: translateY(-50%) rotate(180deg); }
  #banner-standart-6 .banner-sub-heading {
    margin-bottom: 40px; }
    #banner-standart-6 .banner-sub-heading h2 {
      display: inline-block;
      font-size: 12px;
      font-family: "Montserrat", sans-serif;
      line-height: 12px;
      letter-spacing: 0.4em;
      color: #8e3c67;
      padding: 15px 30px;
      border-top: 2px dashed #e1bfd1;
      border-bottom: 2px dashed #e1bfd1;
      position: relative; }
      #banner-standart-6 .banner-sub-heading h2::after, #banner-standart-6 .banner-sub-heading h2::before {
        content: "";
        width: 10px;
        height: 10px;
        background: #e1bfd1;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
      #banner-standart-6 .banner-sub-heading h2::before {
        left: 0; }
      #banner-standart-6 .banner-sub-heading h2::after {
        right: 0; }
  #banner-standart-6 .banner-heading {
    margin-bottom: 40px; }
    #banner-standart-6 .banner-heading h1 {
      font-size: 72px;
      line-height: 72px;
      color: #8e3c67;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  #banner-standart-6 .banner-date {
    margin-bottom: 40px; }
    #banner-standart-6 .banner-date ul {
      list-style-type: none;
      padding: 10px 15px;
      margin: 0 auto;
      width: 200px;
      background: rgba(92, 53, 117, 0.8);
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      position: relative; }
      #banner-standart-6 .banner-date ul::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% + 15px);
        height: calc(100% + 15px);
        border: 2px dashed #beadc9;
        border-radius: 30px; }
      #banner-standart-6 .banner-date ul li {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.06em;
        color: #fff3f1; }
      #banner-standart-6 .banner-date ul li > span.dot {
        width: 10px;
        height: 10px;
        background: #977da8;
        border-radius: 100%;
        display: block;
        margin: 0 10px; }
  #banner-standart-6 .banner-detail h3 {
    font-size: 26px;
    color: #f2e4eb;
    margin-bottom: 20px; }
  #banner-standart-6 .banner-detail p {
    font-size: 12px;
    line-height: 166.66667%;
    letter-spacing: 0.2em;
    color: #e2dbe7;
    display: inline-block;
    width: 300px;
    margin: 0 auto; }

/* BANNER-STANDART-7 */
/* ================================== */
#banner-standart-7 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  #banner-standart-7::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #f2e4eb;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9; }
  #banner-standart-7 .container-fluid {
    height: 100vh;
    position: relative; }
    @media (max-width: 768px) {
      #banner-standart-7 .container-fluid {
        height: 700px; } }
  #banner-standart-7 .banner-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; }
  #banner-standart-7 .banner-flower {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1; }
    #banner-standart-7 .banner-flower img {
      width: 300px;
      height: auto; }
    #banner-standart-7 .banner-flower .flower {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      #banner-standart-7 .banner-flower .flower.left {
        left: 20%;
        transform: translateY(-50%) rotateX(180deg) rotate(10deg); }
        @media (max-width: 1024px) {
          #banner-standart-7 .banner-flower .flower.left {
            left: 0; } }
        @media (max-width: 768px) {
          #banner-standart-7 .banner-flower .flower.left {
            left: -15%; } }
        @media (max-width: 540px) {
          #banner-standart-7 .banner-flower .flower.left {
            left: -50%; } }
      #banner-standart-7 .banner-flower .flower.right {
        right: 20%;
        transform: translateY(-50%) rotate(190deg); }
        @media (max-width: 1024px) {
          #banner-standart-7 .banner-flower .flower.right {
            right: 0; } }
        @media (max-width: 768px) {
          #banner-standart-7 .banner-flower .flower.right {
            right: -15%; } }
        @media (max-width: 540px) {
          #banner-standart-7 .banner-flower .flower.right {
            right: -50%; } }
  #banner-standart-7 .banner-heading {
    margin-bottom: 50px;
    text-align: center; }
    @media (max-width: 540px) {
      #banner-standart-7 .banner-heading {
        margin-bottom: 30px; } }
    #banner-standart-7 .banner-heading h1 {
      font-size: 72px;
      line-height: 72px;
      color: #5c3575; }
  #banner-standart-7 .banner-sub-heading {
    text-align: center; }
    @media (max-width: 540px) {
      #banner-standart-7 .banner-sub-heading {
        margin-bottom: 30px; } }
    #banner-standart-7 .banner-sub-heading h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      letter-spacing: 0.44em;
      color: #79578e;
      display: inline-block;
      padding: 15px 30px;
      position: relative; }
      #banner-standart-7 .banner-sub-heading h2::before, #banner-standart-7 .banner-sub-heading h2::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background: #977da8;
        border-radius: 100%; }
      #banner-standart-7 .banner-sub-heading h2::before {
        left: 0; }
      #banner-standart-7 .banner-sub-heading h2::after {
        right: 0; }
  #banner-standart-7 .banner-photos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 350px;
    margin: 0 auto 20px; }
    @media (max-width: 540px) {
      #banner-standart-7 .banner-photos {
        margin-bottom: 40px; } }
    #banner-standart-7 .banner-photos::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 120px);
      height: calc(100% + 120px);
      border: 2px dashed #beadc9;
      border-radius: 100%; }
      @media (max-width: 540px) {
        #banner-standart-7 .banner-photos::before {
          border: 0; } }
  #banner-standart-7 .banner-photo-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #banner-standart-7 .banner-photo-icon img {
      width: 80px;
      height: auto; }
  #banner-standart-7 .banner-photo-profile {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 100%; }
    #banner-standart-7 .banner-photo-profile img {
      width: 100%;
      height: auto; }
  #banner-standart-7 .banner-detail {
    text-align: center;
    margin-bottom: 30px; }
    #banner-standart-7 .banner-detail h3 {
      font-size: 26px;
      line-height: 26px;
      color: #ad658b;
      margin-bottom: 20px; }
    #banner-standart-7 .banner-detail p {
      font-size: 12px;
      line-height: 166.66667%;
      letter-spacing: 0.2em;
      color: #79578e;
      width: 350px;
      margin: 0 auto; }
  #banner-standart-7 .banner-date ul {
    list-style-type: none;
    width: 150px;
    background: #5c3575;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    #banner-standart-7 .banner-date ul::before {
      content: "";
      width: calc(100% + 15px);
      height: calc(100% + 15px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px dashed #79578e;
      border-radius: 30px; }
    #banner-standart-7 .banner-date ul li {
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      color: #e2dbe7; }
    #banner-standart-7 .banner-date ul li > span.dot {
      display: block;
      width: 6px;
      height: 6px;
      background: #beadc9;
      border-radius: 100%;
      margin: 0 10px; }

/* BANNER-STANDART-8 */
/* ================================== */
#banner-standart-8 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  #banner-standart-8 .container-fluid {
    height: 100vh;
    position: relative; }
    @media (max-width: 768px) {
      #banner-standart-8 .container-fluid {
        height: 700px; } }
  #banner-standart-8 .banner-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; }
  #banner-standart-8 .banner-flower {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1; }
    #banner-standart-8 .banner-flower img {
      width: 300px;
      height: auto; }
    #banner-standart-8 .banner-flower .flower {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      #banner-standart-8 .banner-flower .flower.left {
        left: 20%;
        transform: translateY(-50%) rotateX(180deg) rotate(10deg); }
        @media (max-width: 1024px) {
          #banner-standart-8 .banner-flower .flower.left {
            left: 0; } }
        @media (max-width: 768px) {
          #banner-standart-8 .banner-flower .flower.left {
            left: -15%; } }
        @media (max-width: 540px) {
          #banner-standart-8 .banner-flower .flower.left {
            left: -50%; } }
      #banner-standart-8 .banner-flower .flower.right {
        right: 20%;
        transform: translateY(-50%) rotate(190deg); }
        @media (max-width: 1024px) {
          #banner-standart-8 .banner-flower .flower.right {
            right: 0; } }
        @media (max-width: 768px) {
          #banner-standart-8 .banner-flower .flower.right {
            right: -15%; } }
        @media (max-width: 540px) {
          #banner-standart-8 .banner-flower .flower.right {
            right: -50%; } }
  #banner-standart-8 .banner-heading {
    margin-bottom: 50px;
    text-align: center; }
    @media (max-width: 540px) {
      #banner-standart-8 .banner-heading {
        margin-bottom: 30px; } }
    #banner-standart-8 .banner-heading h1 {
      font-size: 72px;
      line-height: 72px;
      color: #5c3575; }
  #banner-standart-8 .banner-sub-heading {
    text-align: center; }
    @media (max-width: 540px) {
      #banner-standart-8 .banner-sub-heading {
        margin-bottom: 30px; } }
    #banner-standart-8 .banner-sub-heading h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      letter-spacing: 0.44em;
      color: #e2dbe7;
      display: inline-block;
      padding: 15px 30px;
      position: relative; }
      #banner-standart-8 .banner-sub-heading h2::before, #banner-standart-8 .banner-sub-heading h2::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background: #beadc9;
        border-radius: 100%; }
      #banner-standart-8 .banner-sub-heading h2::before {
        left: 0; }
      #banner-standart-8 .banner-sub-heading h2::after {
        right: 0; }
  #banner-standart-8 .banner-photos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 350px;
    margin: 0 auto 20px; }
    @media (max-width: 540px) {
      #banner-standart-8 .banner-photos {
        margin-bottom: 40px; } }
    #banner-standart-8 .banner-photos::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 120px);
      height: calc(100% + 120px);
      background: rgba(121, 87, 142, 0.5);
      border-radius: 100%;
      z-index: -1; }
      @media (max-width: 540px) {
        #banner-standart-8 .banner-photos::before {
          border: 0; } }
  #banner-standart-8 .banner-photo-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #banner-standart-8 .banner-photo-icon img {
      width: 80px;
      height: auto; }
  #banner-standart-8 .banner-photo-profile {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 100%; }
    #banner-standart-8 .banner-photo-profile img {
      width: 100%;
      height: auto; }
  #banner-standart-8 .banner-detail {
    text-align: center;
    margin-bottom: 30px; }
    #banner-standart-8 .banner-detail h3 {
      font-size: 26px;
      line-height: 26px;
      color: #f2e4eb;
      margin-bottom: 20px; }
    #banner-standart-8 .banner-detail p {
      font-size: 12px;
      line-height: 166.66667%;
      letter-spacing: 0.2em;
      color: #e2dbe7;
      text-decoration: underline;
      width: 350px;
      margin: 0 auto; }
  #banner-standart-8 .banner-date ul {
    list-style-type: none;
    width: 150px;
    background: #5c3575;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    #banner-standart-8 .banner-date ul::before {
      content: "";
      width: calc(100% + 15px);
      height: calc(100% + 15px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px dashed #79578e;
      border-radius: 30px; }
    #banner-standart-8 .banner-date ul li {
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      color: #e2dbe7; }
    #banner-standart-8 .banner-date ul li > span.dot {
      display: block;
      width: 6px;
      height: 6px;
      background: #beadc9;
      border-radius: 100%;
      margin: 0 10px; }

/* WELCOME-SECTION */
/* ================================== */
#welcome-section {
  padding: 170px 0;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  @media (max-width: 414px) {
    #welcome-section {
      padding-top: 80px;
      padding-bottom: 80px; } }
  #welcome-section .section-header {
    margin-bottom: 60px;
    text-align: center; }
  #welcome-section .section-body {
    padding: 40px 60px;
    background: #fff3f1;
    mask: url("../img/rectangle.svg"), url("../img/elipse.svg"), url("../img/elipse.svg");
    mask-repeat: repeat, no-repeat, no-repeat;
    mask-size: 100%, 100px, 100px;
    mask-position: 0 0, -50px, calc(100% + 50px);
    mask-composite: source-out;
    position: relative;
    transition: all 200ms ease-out; }
    #welcome-section .section-body:hover {
      background: #5c3575; }
    #welcome-section .section-body:hover > p {
      color: #e2dbe7; }
    #welcome-section .section-body:hover > p > span {
      color: #d5887c; }
    @media (max-width: 540px) {
      #welcome-section .section-body {
        padding: 30px;
        mask: none; } }
    #welcome-section .section-body::after {
      content: "";
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px dashed #e2dbe7; }
    #welcome-section .section-body p {
      font-size: 14px;
      line-height: 185.71429%;
      letter-spacing: 0.02em;
      color: #908499;
      margin-bottom: 0;
      transition: all 200ms ease-out; }
    #welcome-section .section-body span {
      color: #79578e;
      transition: all 200ms ease-out; }

/* PROFILE-SECTION */
/* ================================== */
#bride-profile-section, #groom-profile-section {
  position: relative;
  overflow: hidden; }
  #bride-profile-section .container-fluid, #groom-profile-section .container-fluid {
    background: #79578e;
    padding-right: 0;
    padding-left: 0; }
  #bride-profile-section .profile-section-photo, #groom-profile-section .profile-section-photo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); }
    @media (max-width: 540px) {
      #bride-profile-section .profile-section-photo, #groom-profile-section .profile-section-photo {
        display: none !important; } }
    @media (max-width: 768px) {
      #bride-profile-section .profile-section-photo, #groom-profile-section .profile-section-photo {
        display: none !important; } }
    #bride-profile-section .profile-section-photo::after, #groom-profile-section .profile-section-photo::after {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(121, 87, 142, 0.7);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    #bride-profile-section .profile-section-photo img, #groom-profile-section .profile-section-photo img {
      width: 600px;
      height: auto; }
  #bride-profile-section .profile-section-detail, #groom-profile-section .profile-section-detail {
    padding: 0 60px; }
    @media (max-width: 540px) {
      #bride-profile-section .profile-section-detail, #groom-profile-section .profile-section-detail {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
        padding-left: 30px;
        padding-right: 30px; } }
    @media (max-width: 768px) {
      #bride-profile-section .profile-section-detail, #groom-profile-section .profile-section-detail {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
        padding-left: 60px;
        padding-right: 60px;
        text-align: center; } }
    @media (max-width: 1024px) {
      #bride-profile-section .profile-section-detail, #groom-profile-section .profile-section-detail {
        padding: 0 60px;
        margin-left: 0 !important; } }
  #bride-profile-section .profile-section-header, #groom-profile-section .profile-section-header {
    margin-bottom: 60px;
    position: relative;
    z-index: 1; }
  #bride-profile-section .section-header, #groom-profile-section .section-header {
    margin-bottom: 60px; }
    #bride-profile-section .section-header h6, #groom-profile-section .section-header h6 {
      font-family: "Great Vibes", cursive;
      font-size: 30px;
      line-height: 30px;
      color: #e2dbe7;
      margin-bottom: 5px; }
    #bride-profile-section .section-header h2, #groom-profile-section .section-header h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: 36px;
      line-height: 36px;
      color: #fac0b7;
      margin: 0; }
    #bride-profile-section .section-header img, #groom-profile-section .section-header img {
      left: 0;
      transform: translate(0, -50%); }
      @media (max-width: 768px) {
        #bride-profile-section .section-header img, #groom-profile-section .section-header img {
          left: 50%;
          transform: translate(-50%, -50%); } }
  #bride-profile-section .profile-section-body p, #groom-profile-section .profile-section-body p {
    color: #e2dbe7;
    margin-bottom: 20px; }
    #bride-profile-section .profile-section-body p:last-child, #groom-profile-section .profile-section-body p:last-child {
      margin-bottom: 0; }
  #bride-profile-section .profile-section-gallery, #groom-profile-section .profile-section-gallery {
    padding: 0;
    height: 900px; }
    @media (max-width: 768px) {
      #bride-profile-section .profile-section-gallery, #groom-profile-section .profile-section-gallery {
        order: 2; } }
  #bride-profile-section .profile-gallery-item, #groom-profile-section .profile-gallery-item {
    padding-right: 0;
    overflow: hidden;
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 1; }
    #bride-profile-section .profile-gallery-item img, #groom-profile-section .profile-gallery-item img {
      width: auto;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2; }
      @media (max-width: 540px) {
        #bride-profile-section .profile-gallery-item img, #groom-profile-section .profile-gallery-item img {
          width: auto !important;
          height: 100% !important; } }
      @media (max-width: 768px) {
        #bride-profile-section .profile-gallery-item img, #groom-profile-section .profile-gallery-item img {
          width: 100%;
          height: auto; } }

#groom-profile-section .profile-section-photo {
  position: absolute;
  top: 50%;
  left: inherit;
  right: 0;
  transform: translateY(-50%); }

@media (max-width: 768px) {
  #groom-profile-section .profile-section-detail {
    order: 1; } }

@media (max-width: 1024px) {
  #groom-profile-section .profile-section-detail {
    margin-right: 0 !important; } }

/* FAMILY-SECTION */
/* ================================== */
#family-section {
  padding: 170px 0; }
  @media (max-width: 540px) {
    #family-section {
      padding: 80px 0 !important; } }
  @media (max-width: 768px) {
    #family-section {
      padding: 100px 0; } }
  #family-section .section-header {
    margin-bottom: 0; }
    @media (max-width: 540px) {
      #family-section .section-header {
        margin-bottom: 0; } }
    #family-section .section-header h2 {
      margin-bottom: 60px; }
    #family-section .section-header p {
      margin-bottom: 0; }
  #family-section .section-body [class*='col-'] {
    margin-bottom: 0; }
  #family-section .card-profile {
    z-index: 1; }
    #family-section .card-profile:hover > .card-profile-background {
      background: #5c3575; }
    #family-section .card-profile:hover > .card-profile-background::after {
      border-color: #79578e; }
    #family-section .card-profile:hover > .card-profile-content > h3 {
      color: #fac0b7; }
    #family-section .card-profile:hover > .card-profile-content > h6 {
      color: #beadc9; }
    #family-section .card-profile:hover > .card-profile-content > span.dot {
      background: #79578e; }
    #family-section .card-profile:hover > .card-profile-content > p {
      color: #e2dbe7; }
  #family-section .card-profile-background {
    z-index: 2;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    background: #fff3f1;
    width: 95%;
    height: calc(100% - 100px);
    mask: url("../img/rectangle.svg"), url("../img/elipse.svg"), url("../img/elipse.svg");
    mask-size: 100%, 100px, 100px;
    mask-position: 0, -50px calc(100% + 50px), calc(100% + 50px) calc(100% + 50px);
    mask-repeat: repeat, no-repeat, no-repeat;
    mask-composite: source-out;
    transition: all 200ms ease-out; }
    @media (max-width: 768px) {
      #family-section .card-profile-background {
        width: 90%; } }
    #family-section .card-profile-background::after {
      content: "";
      width: calc(100% - 60px);
      height: calc(100% - 60px);
      background: transparent;
      border: 2px dashed #e2dbe7;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 200ms ease-out; }
  #family-section .card-profile-content {
    z-index: 3;
    position: relative;
    padding: 60px; }
    #family-section .card-profile-content h3 {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: 24px;
      letter-spacing: 0.02em;
      line-height: 125%;
      color: #ad658b;
      margin-bottom: 0;
      transition: all 200ms ease-out; }
    #family-section .card-profile-content h6 {
      font-family: "Great Vibes", cursive;
      font-weight: 400;
      font-size: 24px;
      color: #79578e;
      transition: all 200ms ease-out; }
    #family-section .card-profile-content span.dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #e2dbe7;
      border-radius: 100%;
      margin: 20px 0;
      transition: all 200ms ease-out; }
  #family-section .flowers {
    width: 85%;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    filter: grayscale(1);
    opacity: 0.2; }
    @media (max-width: 768px) {
      #family-section .flowers {
        width: 60% !important; } }
    @media (max-width: 1024px) {
      #family-section .flowers {
        width: 95%; } }
  #family-section .flower-left,
  #family-section .flower-right {
    width: 160px;
    height: auto;
    transform-origin: center;
    transform: rotate(90deg) rotateX(180deg);
    position: absolute; }
    #family-section .flower-left img,
    #family-section .flower-right img {
      width: 100%;
      height: auto; }
      @media (max-width: 540px) {
        #family-section .flower-left img,
        #family-section .flower-right img {
          display: none; } }
  #family-section .flower-left {
    transform: rotate(90deg) rotateX(180deg);
    left: 0; }
  #family-section .flower-right {
    transform: rotate(90deg);
    right: 0; }
  #family-section .card-profile-photo {
    width: 160px;
    height: 160px;
    background: #5c3575;
    border-radius: 100%;
    margin: 0 auto 26px;
    overflow: hidden;
    position: relative;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2)); }
    #family-section .card-profile-photo::after {
      content: "";
      width: calc(100% - 15px);
      height: calc(100% - 15px);
      background: transparent;
      border: 2px dashed #977da8;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    #family-section .card-profile-photo img {
      width: 100%;
      height: auto; }

/* EVENTS-SECTION */
/* ================================== */
#events-section .row {
  background: #fff3f1;
  transition: all 200ms ease-out; }
  #events-section .row:hover {
    background: #5c3575; }
  #events-section .row:hover .section-header > h6 {
    color: #beadc9; }
  #events-section .row:hover .section-header > h2 {
    color: #fac0b7; }
  #events-section .row:hover .event-detail-body > p {
    color: #e2dbe7; }
  #events-section .row:hover .event-detail-footer {
    background: #79578e;
    border-color: #977da8; }
  #events-section .row:hover .event-detail-footer > .time {
    background: #5c3575;
    border-color: #977da8; }
  #events-section .row:hover .event-detail-footer > .time > h4 {
    color: #fac0b7; }
  #events-section .row:hover .event-detail-footer > .address > p:first-child {
    color: #fac0b7; }
  #events-section .row:hover .event-detail-footer > .address > p:last-child {
    color: #beadc9; }

#events-section .section-header {
  margin-bottom: 60px; }

#events-section .event-detail {
  padding: 60px; }
  @media (max-width: 414px) {
    #events-section .event-detail {
      text-align: center;
      padding: 80px 30px !important; } }
  @media (max-width: 768px) {
    #events-section .event-detail {
      order: 2;
      padding: 100px 50px; } }

#events-section .event-detail-header {
  margin-bottom: 60px;
  position: relative;
  z-index: 1; }

#events-section .section-header h2, #events-section .section-header h6 {
  transition: all 200ms ease-out; }

#events-section .section-header img {
  left: 0;
  transform: translate(0, -50%); }
  @media (max-width: 414px) {
    #events-section .section-header img {
      left: 50%;
      transform: translate(-50%, -50%); } }

#events-section .event-detail-body {
  margin-bottom: 40px; }
  #events-section .event-detail-body p {
    margin-bottom: 0;
    transition: all 200ms ease-out; }

#events-section .event-detail-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  float: left;
  padding: 15px;
  border: 2px dashed #e2dbe7;
  border-radius: 60px;
  transition: all 200ms ease-out; }
  @media (max-width: 540px) {
    #events-section .event-detail-footer {
      flex-direction: column;
      float: none;
      border-radius: 30px; } }
  #events-section .event-detail-footer p {
    margin-bottom: 0;
    transition: all 200ms ease-out; }
  #events-section .event-detail-footer .time {
    margin-right: 15px;
    border: 2px solid #e1bfd1;
    border-radius: 60px;
    padding: 10px;
    background: #fff3f1;
    transition: all 200ms ease-out; }
    @media (max-width: 540px) {
      #events-section .event-detail-footer .time {
        margin-bottom: 15px; } }
    #events-section .event-detail-footer .time h4 {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: 30px;
      color: #977da8;
      line-height: 30px;
      transition: all 200ms ease-out; }
  #events-section .event-detail-footer .address p:first-child {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #79578e;
    margin-bottom: 10px;
    transition: all 200ms ease-out; }
  #events-section .event-detail-footer .address p:last-child {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.02em;
    color: #cc95b2;
    transition: all 200ms ease-out; }

#events-section .event-photo {
  background: transparent;
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 1;
  padding: 0; }
  @media (max-width: 414px) {
    #events-section .event-photo {
      height: 400px !important;
      order: 1; } }
  @media (max-width: 1024px) {
    #events-section .event-photo {
      order: 1;
      height: 550px; } }
  #events-section .event-photo::after {
    z-index: 3;
    content: "";
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 2px dashed #fff3f1; }
  #events-section .event-photo img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* BLOG-SECTION */
/* ================================== */
#blog-section {
  padding: 170px 0; }
  @media (max-width: 540px) {
    #blog-section {
      padding: 80px 0 0 !important; } }
  @media (max-width: 768px) {
    #blog-section {
      padding: 100px 0 20px; } }
  #blog-section .section-header {
    margin-bottom: 60px; }
  #blog-section .blog-section-head {
    margin-bottom: 80px;
    text-align: center; }
  #blog-section .blog-card {
    background: #fff3f1;
    mask: url("../img/rectangle.svg"), url("../img/elipse.svg"), url("../img/elipse.svg");
    mask-size: 100%, 100px, 100px;
    mask-repeat: repeat, no-repeat, no-repeat;
    mask-position: 0 0, -50px -50px, calc(100% + 50px) -50px;
    mask-composite: source-out; }
    @media (max-width: 768px) {
      #blog-section .blog-card {
        margin-bottom: 80px; } }
  #blog-section .blog-card-head {
    width: 100%;
    height: 225px;
    overflow: hidden;
    position: relative; }
    @media (max-width: 768px) {
      #blog-section .blog-card-head {
        width: 100%;
        height: 200px; } }
    #blog-section .blog-card-head img {
      width: 100%;
      height: auto; }
  #blog-section .blog-card-body {
    padding: 30px; }
  #blog-section .blog-card-detail {
    display: flex;
    align-items: center;
    margin-bottom: 30px; }
  #blog-section .blog-card-date {
    list-style-type: none;
    padding: 0;
    margin: 0 15px 0 0;
    width: 60px;
    height: 60px;
    border: 2px solid #e2dbe7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #blog-section .blog-card-date > li {
      display: block;
      text-align: center; }
    #blog-section .blog-card-date > li:first-child {
      font-size: 25px;
      line-height: 25px;
      letter-spacing: 0.02em;
      color: #977da8;
      margin-bottom: 4px; }
    #blog-section .blog-card-date > li:last-child {
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.02em;
      color: #beadc9; }
  #blog-section .blog-card-title h6 {
    font-size: 24px;
    line-height: 24px;
    color: #79578e;
    margin-bottom: 5px; }
  #blog-section .blog-card-title h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #ad658b;
    line-height: 24px;
    letter-spacing: 0.02em; }
  #blog-section .blog-card-description p {
    margin-bottom: 30px; }

/* GIFT-SECTION */
/* ================================== */
#gift-section {
  text-align: center;
  padding: 170px 0;
  background-image: url("../img/gift-bg-img.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; }
  @media (max-width: 540px) {
    #gift-section {
      padding: 80px 0 !important; } }
  @media (max-width: 768px) {
    #gift-section {
      padding: 100px 0; } }
  #gift-section .gift-card {
    background: #fff3f1;
    padding: 50px;
    mask: url("../img/rectangle.svg"), url("../img/elipse.svg"), url("../img/elipse.svg"), url("../img/elipse.svg"), url("../img/elipse.svg");
    mask-repeat: repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    mask-size: 100px, 100px, 100px, 100px;
    mask-position: -50px -50px, calc(100% + 50px) -50px, calc(100% + 50px) calc(100% + 50px), -50px calc(100% + 50px);
    mask-composite: source-out;
    position: relative;
    transition: all 200ms ease-out; }
    #gift-section .gift-card::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 50px);
      height: calc(100% - 50px);
      border: 2px dashed #e2dbe7;
      background: transparent;
      transition: all 200ms ease-out; }
    #gift-section .gift-card:hover {
      background: #5c3575; }
    #gift-section .gift-card:hover::after {
      border-color: #79578e; }
    #gift-section .gift-card:hover .gift-card-body > p {
      color: #e2dbe7; }
  #gift-section .gift-card-head {
    margin-bottom: 25px; }
  #gift-section .gift-card-body p {
    margin-bottom: 0;
    color: #908499; }

/* TESTIMONY-SECTION */
/* ================================== */
#testimony-section {
  padding: 170px 0;
  overflow: hidden;
  position: relative; }
  @media (max-width: 414px) {
    #testimony-section {
      padding: 80px 0; } }
  #testimony-section .section-header {
    text-align: center; }
    #testimony-section .section-header h2, #testimony-section .section-header h6 {
      transition: all 200ms ease-out; }
  #testimony-section .testimony-section-content {
    text-align: center;
    margin-bottom: 30px; }
  #testimony-section .testimony-section-message {
    background: #fff3f1;
    padding: 80px;
    mask: url("../img/rectangle.svg"), url("../img/elipse.svg"), url("../img/elipse.svg");
    mask-repeat: repeat, no-repeat, no-repeat;
    mask-size: 100%, 100px, 100px;
    mask-composite: source-out;
    mask-position: 0, -50px -50px, calc(100% + 50px) calc(100% + 50px);
    position: relative;
    transition: all 200ms ease-out; }
    @media (max-width: 414px) {
      #testimony-section .testimony-section-message {
        padding-right: 40px;
        padding-left: 40px; } }
    #testimony-section .testimony-section-message::after {
      content: "";
      width: calc(100% - 60px);
      height: calc(100% - 60px);
      border: 2px dashed #e2dbe7;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 200ms ease-out; }
    #testimony-section .testimony-section-message p {
      transition: all 200ms ease-out; }
    #testimony-section .testimony-section-message:hover {
      background: #5c3575; }
    #testimony-section .testimony-section-message:hover::after {
      border-color: #79578e; }
    #testimony-section .testimony-section-message:hover > p {
      color: #e2dbe7; }
    #testimony-section .testimony-section-message:hover .section-header > h6 {
      color: #beadc9; }
    #testimony-section .testimony-section-message:hover .section-header > h2 {
      color: #fac0b7; }

/* GALLERY-SECTION */
/* ================================== */
#gallery-section .container-fluid {
  padding: 0; }

#gallery-section .gallery-section-item {
  overflow: hidden;
  width: 100%;
  height: 400px;
  background: #cc95b2;
  position: relative; }
  #gallery-section .gallery-section-item:hover > .gallery-section-detail {
    transform: translate(-50%, -50%) scale(1); }
  #gallery-section .gallery-section-item:hover > img {
    filter: blur(2px); }
  #gallery-section .gallery-section-item::after {
    content: "";
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px dashed #e2dbe7; }
  #gallery-section .gallery-section-item img {
/*    width: 110%;*/
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 200ms ease-out; }

#gallery-section .gallery-section-detail {
  width: calc(100% - 90px);
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
  background: #fff3f1;
  padding: 30px;
  transition: all 200ms ease-in;
  mask: url("../img/rectangle.svg"), url("../img/elipse.svg"), url("../img/elipse.svg"), url("../img/elipse.svg"), url("../img/elipse.svg");
  mask-composite: source-out;
  mask-repeat: repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  mask-size: 100%, 100px, 100px, 100px, 100px;
  mask-position: 0 0, -50px -50px, calc(100% + 50px) -50px, calc(100% + 50px) calc(100% + 50px), -50px calc(100% + 50px); }

#gallery-section .section-header {
  margin-bottom: 30px; }
  #gallery-section .section-header h6 {
    font-size: 24px;
    line-height: 24px; }
  #gallery-section .section-header h2 {
    font-size: 24px; }
  #gallery-section .section-header img {
    opacity: 0.2;
    width: 90px;
    height: auto; }

/* RSPV-SECTION */
/* ================================== */
#rspv-section {
  padding: 170px 0;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  @media (max-width: 540px) {
    #rspv-section {
      padding: 80px 0; } }
  @media (max-width: 768px) {
    #rspv-section {
      padding: 100px 0; } }
  #rspv-section .section-header {
    text-align: center; }
  #rspv-section .rspv-section-head {
    margin-bottom: 80px; }
  #rspv-section .rspv-section-body select.form-control {
    height: inherit; }
  #rspv-section .rspv-section-body textarea.form-control {
    resize: none;
    height: 201px;
    align-self: stretch; }
  #rspv-section .rspv-section-body button.btn-default {
    margin-top: 30px; }
  #rspv-section .rspv-section-body .form-group:last-child {
    margin-bottom: 0; }
  #rspv-section .rspv-section-input-area {
    width: 100%;
    height: auto;
    padding: 50px;
    background: #fff3f1;
    position: relative;
    margin-right: 0;
    margin-left: 0;
    z-index: 1;
    mask: url("../img/rectangle.svg"), url("../img/elipse.svg"), url("../img/elipse.svg"), url("../img/elipse.svg"), url("../img/elipse.svg");
    mask-repeat: repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    mask-composite: source-out;
    mask-size: 100%, 100px, 100px, 100px, 100px;
    mask-position: 0, -50px -50px, calc(100% + 50px) -50px, calc(100% + 50px) calc(100% + 50px), -50px calc(100% + 50px); }
    #rspv-section .rspv-section-input-area::after {
      content: "";
      width: calc(100% - 60px);
      height: calc(100% - 60px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px dashed #e2dbe7;
      z-index: -1; }
    #rspv-section .rspv-section-input-area [class*='col-'] {
      padding-top: 15px;
      padding-bottom: 15px; }

/* FOOTER-SECTION */
/* ================================== */
#footer-section {
  text-align: center;
  background: #79578e;
  padding: 170px 0;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; }
  @media (max-width: 540px) {
    #footer-section {
      padding: 80px 0 !important; } }
  @media (max-width: 768px) {
    #footer-section {
      padding: 100px 0 !important; } }
  #footer-section .footer-head {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.44em;
    color: #e2dbe7;
    display: inline-block;
    background: #5c3575;
    padding: 10px 50px;
    margin-bottom: 40px;
    border-radius: 30px;
    position: relative; }
    #footer-section .footer-head::before, #footer-section .footer-head::after {
      content: "";
      background: #e2dbe7;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
    #footer-section .footer-head::before {
      left: 10px; }
    #footer-section .footer-head::after {
      right: 10px; }
  #footer-section .footer-body {
    font-size: 90px;
    line-height: 90px;
    color: #e2dbe7;
    margin-bottom: 40px; }
    @media (max-width: 414px) {
      #footer-section .footer-body {
        font-size: 60px !important; } }
    @media (max-width: 540px) {
      #footer-section .footer-body {
        font-size: 72px; } }
  #footer-section .footer-foot {
    font-size: 12px;
    font-weight: 300;
    line-height: 171.42857%;
    letter-spacing: 0.2em;
    color: #fff3f1;
    display: inline-block;
    width: 300px;
    margin: 0 auto;
    padding: 15px 40px;
    border: 2px dashed #79578e;
    border-radius: 60px;
    background: rgba(92, 53, 117, 0.4); }
    @media (max-width: 414px) {
      #footer-section .footer-foot {
        width: 100%; } }
    @media (max-width: 540px) {
      #footer-section .footer-foot {
        font-size: 14px; } }

/* BANNER-PAGE */
/* ================================== */
#banner-page {
  height: 346px;
  background-image: url(../img/banner-img.jpg);
  background-position: center -100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  #banner-page .banner-page-content {
    position: absolute;
    left: 50%;
    top: calc(100% - 65px);
    transform: translateX(-50%);
    text-align: center; }
  #banner-page .banner-page-flower {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1; }
    #banner-page .banner-page-flower .flower {
      position: absolute;
      top: -33%; }
      @media (max-width: 540px) {
        #banner-page .banner-page-flower .flower {
          top: -20%; } }
      #banner-page .banner-page-flower .flower.left {
        left: -9%; }
      #banner-page .banner-page-flower .flower.right {
        right: -9%;
        transform: rotateY(180deg); }
      @media (max-width: 540px) {
        #banner-page .banner-page-flower .flower img {
          width: 80%;
          height: auto; } }
  #banner-page .banner-page-heading {
    width: 500px;
    height: auto;
    background: #fff3f1;
    padding: 30px;
    border-radius: 90px;
    position: relative;
    margin-bottom: 30px; }
    @media (max-width: 540px) {
      #banner-page .banner-page-heading {
        width: 300px; } }
    #banner-page .banner-page-heading::before, #banner-page .banner-page-heading::after {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: #e2dbe7;
      border-radius: 100%; }
      @media (max-width: 540px) {
        #banner-page .banner-page-heading::before, #banner-page .banner-page-heading::after {
          display: none; } }
    #banner-page .banner-page-heading::before {
      left: 40px; }
    #banner-page .banner-page-heading::after {
      right: 40px; }
    #banner-page .banner-page-heading h1 {
      font-size: 72px;
      line-height: 72px;
      color: #5c3575; }
      @media (max-width: 540px) {
        #banner-page .banner-page-heading h1 {
          font-size: 60px; } }
      #banner-page .banner-page-heading h1::after {
        content: "";
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px dashed #beadc9;
        border-radius: 90px; }
  #banner-page .banner-page-breadcrumb {
    border: 2px dashed #977da8;
    border-radius: 30px;
    display: inline-block; }
    #banner-page .banner-page-breadcrumb ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px; }
      #banner-page .banner-page-breadcrumb ul > li {
        margin: 0 5px; }
      #banner-page .banner-page-breadcrumb ul > li > a {
        color: #79578e;
        transition: all 200ms ease-out; }
      #banner-page .banner-page-breadcrumb ul > li > a:hover {
        text-decoration: none;
        color: #d5887c; }
      #banner-page .banner-page-breadcrumb ul > li > a.active {
        color: #5c3575;
        font-weight: 700; }
      #banner-page .banner-page-breadcrumb ul > li > a.active:hover {
        color: #ae5749; }
      #banner-page .banner-page-breadcrumb ul > li > span.dot {
        display: block;
        background: #beadc9;
        width: 10px;
        height: 10px;
        border-radius: 100%; }
  #banner-page .banner-tagline {
    margin-bottom: 30px; }
    #banner-page .banner-tagline p {
      font-size: 12px;
      display: inline-block;
      padding: 6px 20px;
      border: 2px dashed #e1bfd1;
      border-radius: 30px;
      color: #5c3575; }
  #banner-page .banner-description {
    width: 555px; }
    @media (max-width: 1024px) {
      #banner-page .banner-description {
        width: 100%; } }
    #banner-page .banner-description span {
      color: #5c3575; }

/* BLOG-POST-STANDART */
/* ================================== */
#blog-post-standart {
  margin-top: 170px;
  margin-bottom: 80px; }
  #blog-post-standart .container {
    background: #fff3f1;
    padding: 80px;
    z-index: 1;
    mask: url("../img/rectangle.svg"), url("../img/elipse.svg"), url("../img/elipse.svg");
    mask-size: 100%, 100px, 100px;
    mask-position: 0 0, -50px -50px, calc(100% + 50px) calc(100% + 50px);
    mask-repeat: repeat, no-repeat, no-repeat;
    mask-composite: source-out;
    overflow: hidden; }
    @media (max-width: 540px) {
      #blog-post-standart .container {
        mask: none; } }
    @media (max-width: 768px) {
      #blog-post-standart .container {
        padding-left: 30px;
        padding-right: 30px; } }
  #blog-post-standart .blog-post-head {
    display: flex;
    margin-bottom: 60px; }
    @media (max-width: 540px) {
      #blog-post-standart .blog-post-head {
        flex-direction: column;
        align-items: center; } }
  #blog-post-standart .blog-post-date {
    width: 80px;
    height: 80px;
    list-style-type: none;
    padding: 0;
    margin: 0 30px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #e2dbe7;
    border-radius: 10px;
    margin-bottom: 30px; }
    @media (max-width: 540px) {
      #blog-post-standart .blog-post-date {
        margin-right: auto;
        margin-left: auto; } }
    #blog-post-standart .blog-post-date > li:first-child {
      font-size: 36px;
      line-height: 36px;
      color: #977da8; }
    #blog-post-standart .blog-post-date > li:last-child {
      font-size: 16px;
      color: #beadc9; }
  #blog-post-standart .blog-post-title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (max-width: 540px) {
      #blog-post-standart .blog-post-title {
        text-align: center; } }
    #blog-post-standart .blog-post-title h1 {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: 36px;
      line-height: 36px;
      color: #ad658b;
      letter-spacing: 0.02em;
      z-index: 1; }
    #blog-post-standart .blog-post-title h6 {
      font-size: 30px;
      line-height: 30px;
      color: #79578e;
      margin-bottom: 7px;
      z-index: 1; }
    #blog-post-standart .blog-post-title a {
      color: #ad658b;
      transition: all 200ms ease-out; }
      #blog-post-standart .blog-post-title a:hover {
        text-decoration: none;
        color: #8e3c67; }
    #blog-post-standart .blog-post-title .flower {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      opacity: 0.2; }
      @media (max-width: 540px) {
        #blog-post-standart .blog-post-title .flower {
          left: 50%;
          transform: translate(-50%, -50%); } }
      #blog-post-standart .blog-post-title .flower img {
        width: 100%;
        height: auto; }
  #blog-post-standart .blog-post-comment-total {
    align-self: center;
    align-content: center;
    margin-left: auto;
    border: 2px dashed #e2dbe7;
    padding: 10px 20px;
    border-radius: 30px; }
    @media (max-width: 768px) {
      #blog-post-standart .blog-post-comment-total {
        display: none; } }
    #blog-post-standart .blog-post-comment-total p {
      font-size: 12px;
      color: #beadc9; }
  #blog-post-standart .blog-post-body {
    padding: 60px 0;
    margin-bottom: 60px;
    border-top: 2px dashed #e2dbe7;
    border-bottom: 2px dashed #e2dbe7; }
    @media (max-width: 540px) {
      #blog-post-standart .blog-post-body {
        text-align: center; } }
    #blog-post-standart .blog-post-body > p:last-child {
      margin-bottom: 0; }
    #blog-post-standart .blog-post-body p, #blog-post-standart .blog-post-body blockquote {
      margin-bottom: 30px; }
    #blog-post-standart .blog-post-body blockquote {
      background: transparent;
      padding: 30px 60px;
      color: #79578e;
      font-size: 16px;
      line-height: 162.5%;
      letter-spacing: 0.02em;
      text-align: center;
      position: relative;
      z-index: 1; }
      #blog-post-standart .blog-post-body blockquote::before {
        z-index: -1;
        content: "";
        width: calc(100% + 160px);
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #e2dbe7;
        border-top: 2px dashed #beadc9;
        border-bottom: 2px dashed #beadc9; }
  #blog-post-standart .feature-image {
    height: 380px;
    margin-bottom: 30px;
    overflow: hidden; }
    #blog-post-standart .feature-image img {
      width: 100%;
      height: auto;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media (max-width: 540px) {
        #blog-post-standart .feature-image img {
          height: 100%;
          width: auto; } }
  #blog-post-standart .blog-post-foot {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 540px) {
      #blog-post-standart .blog-post-foot {
        flex-direction: column; } }
  #blog-post-standart .blog-post-tags {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    #blog-post-standart .blog-post-tags > li {
      margin-left: 15px; }
    #blog-post-standart .blog-post-tags > li:first-child {
      margin-left: 0; }
    #blog-post-standart .blog-post-tags > li > a {
      display: block;
      padding: 10px 20px;
      border: 2px dashed #e2dbe7;
      color: #977da8;
      border-radius: 30px;
      font-size: 12px;
      letter-spacing: 0.02em;
      transition: all 200ms ease-out; }
    #blog-post-standart .blog-post-tags > li > a:hover {
      text-decoration: none;
      border-color: #beadc9; }
  #blog-post-standart .blog-post-share {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    @media (max-width: 540px) {
      #blog-post-standart .blog-post-share {
        margin-bottom: 30px; } }
    #blog-post-standart .blog-post-share > li {
      margin-right: 15px; }
    #blog-post-standart .blog-post-share > li:last-child {
      margin-right: 0; }
    #blog-post-standart .blog-post-share > li > a {
      display: block;
      font-size: 24px; }

/* BLOG-PAGE-STANDART */
/* ================================== */
#blog-page-standart {
  margin-top: 200px;
  margin-bottom: 140px; }
  @media (max-width: 540px) {
    #blog-page-standart {
      margin-top: 260px; } }
  #blog-page-standart .main-content article {
    background: #fff3f1;
    margin-bottom: 30px;
    mask: url("../img/rectangle.svg"), url("../img/elipse.svg"), url("../img/elipse.svg");
    mask-repeat: repeat, no-repeat, no-repeat;
    mask-size: 100%, 100px, 100px;
    mask-position: 0 0, -50px -50px, calc(100% + 50px) calc(100% + 50px);
    mask-composite: source-out; }
    @media (max-width: 540px) {
      #blog-page-standart .main-content article {
        mask: none; } }
  #blog-page-standart .article-cover {
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative; }
    #blog-page-standart .article-cover img {
      width: 100%;
      height: auto; }
      @media (max-width: 540px) {
        #blog-page-standart .article-cover img {
          height: 100%;
          width: auto;
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); } }
  #blog-page-standart .article-head {
    display: flex;
    align-items: center;
    padding: 0 30px 30px;
    border-bottom: 1px solid #e2dbe7;
    margin-bottom: 30px; }
    #blog-page-standart .article-head .blog-date {
      list-style-type: none;
      padding: 5px;
      margin: 0 20px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 60px;
      height: 60px;
      border: 2px solid #beadc9;
      border-radius: 10px; }
      @media (max-width: 540px) {
        #blog-page-standart .article-head .blog-date {
          width: 70px;
          height: 70px;
          flex-shrink: 0; } }
    #blog-page-standart .article-head .blog-date li:first-child {
      font-size: 26px;
      line-height: 26px;
      letter-spacing: 0.02em;
      color: #977da8; }
    #blog-page-standart .article-head .blog-date li:last-child {
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.02em;
      color: #beadc9; }
    #blog-page-standart .article-head .blog-name {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      #blog-page-standart .article-head .blog-name .categories {
        list-style-type: none;
        padding: 0;
        margin: 0 0 4px;
        display: flex;
        flex-direction: row;
        align-items: center; }
      #blog-page-standart .article-head .blog-name .categories > li {
        font-size: 12px;
        position: relative; }
      #blog-page-standart .article-head .blog-name .categories > li > a {
        display: block;
        color: #977da8; }
        #blog-page-standart .article-head .blog-name .categories > li > a:hover {
          color: #79578e; }
      #blog-page-standart .article-head .blog-name .categories > li > span.dot {
        display: block;
        width: 6px;
        height: 6px;
        background: #e2dbe7;
        border-radius: 100%;
        margin: 0 5px; }
      #blog-page-standart .article-head .blog-name .title {
        font-family: "Montserrat", sans-serif;
        font-size: 30px;
        font-weight: 300;
        display: block;
        letter-spacing: 0.02em;
        color: #ad658b; }
        #blog-page-standart .article-head .blog-name .title:hover {
          color: #8e3c67; }
    #blog-page-standart .article-head .blog-comment {
      margin-left: auto;
      padding: 10px 20px;
      border: 2px dashed #e2dbe7;
      border-radius: 30px; }
      @media (max-width: 540px) {
        #blog-page-standart .article-head .blog-comment {
          display: none; } }
      #blog-page-standart .article-head .blog-comment p {
        font-size: 12px;
        line-height: 12px;
        color: #977da8; }
  #blog-page-standart .article-body {
    padding: 0 30px 30px; }
    #blog-page-standart .article-body p {
      margin-bottom: 30px; }
  #blog-page-standart .aside-content section {
    background: #fff3f1;
    padding: 30px;
    margin-bottom: 30px;
    mask: url("../img/rectangle.svg"), url("../img/elipse.svg");
    mask-repeat: repeat, no-repeat;
    mask-size: 100%, 60px;
    mask-position: 0 0, calc(100% + 30px) calc(100% + 30px);
    mask-composite: source-out; }
  #blog-page-standart .aside-content section:last-child {
    margin-bottom: 0; }
  #blog-page-standart .aside-content h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
    padding-bottom: 15px;
    color: #ad658b;
    border-bottom: 1px solid #e2dbe7; }
  #blog-page-standart .aside-content section.categories ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  #blog-page-standart .aside-content section.categories ul > li {
    margin-bottom: 15px;
    position: relative;
    padding-left: 20px; }
    #blog-page-standart .aside-content section.categories ul > li::before {
      content: "";
      width: 6px;
      height: 6px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: #beadc9;
      border-radius: 100%;
      transition: all 200ms ease-out; }
  #blog-page-standart .aside-content section.categories ul > li:last-child {
    margin-bottom: 0; }
  #blog-page-standart .aside-content section.categories ul > li:hover::before {
    background: #5c3575; }
  #blog-page-standart .aside-content section.categories ul > li > a {
    color: #79578e;
    transition: all 200ms ease-out; }
    #blog-page-standart .aside-content section.categories ul > li > a:hover {
      color: #5c3575; }
  #blog-page-standart .aside-content section.popular-posts .popular-post-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px; }
    #blog-page-standart .aside-content section.popular-posts .popular-post-item:hover .popular-post-detail h5 > a {
      color: #8e3c67; }
  #blog-page-standart .aside-content section.popular-posts .popular-post-thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px; }
    #blog-page-standart .aside-content section.popular-posts .popular-post-thumbnail img {
      width: 100%;
      height: auto;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  #blog-page-standart .aside-content section.popular-posts .popular-post-detail {
    flex-shrink: 10; }
    #blog-page-standart .aside-content section.popular-posts .popular-post-detail h6 {
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      color: #977da8;
      margin-bottom: 4px; }
    #blog-page-standart .aside-content section.popular-posts .popular-post-detail h5 {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      letter-spacing: 0.05em;
      line-height: 133.33333%; }
  #blog-page-standart .aside-content section.tags ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; }
  #blog-page-standart .aside-content section.tags ul > li {
    margin-bottom: 10px;
    margin-right: 6px; }
  #blog-page-standart .aside-content section.tags ul > li > a {
    font-size: 12px;
    display: block;
    border-radius: 30px;
    padding: 6px 10px;
    border: 2px dashed #e2dbe7;
    color: #79578e;
    transition: all 200ms ease-out; }
    #blog-page-standart .aside-content section.tags ul > li > a:hover {
      background: #79578e;
      color: #fff3f1;
      border-color: #79578e; }

/* COMMENTS-SECTION */
/* ================================== */
#comments-section {
  overflow: hidden; }
  #comments-section h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #ad658b;
    margin-bottom: 30px;
    border-bottom: 2px dashed #beadc9;
    margin-bottom: 60px;
    padding-bottom: 30px; }
    @media (max-width: 540px) {
      #comments-section h2 {
        text-align: center; } }
  #comments-section .comments-section-body {
    margin-bottom: 80px; }
  #comments-section .comments-list-item {
    padding: 30px 60px;
    margin-bottom: 30px;
    position: relative; }
    @media (max-width: 540px) {
      #comments-section .comments-list-item {
        padding: 30px; } }
    #comments-section .comments-list-item::after {
      z-index: -1;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-color: #fff3f1;
      mask: url(../img/rectangle.svg), url(../img/elipse.svg), url(../img/elipse.svg);
      mask-size: 100%, 100px, 100px;
      mask-position: 0 0, -50px -50px, calc(100% + 50px) calc(100% + 50px);
      mask-repeat: repeat, no-repeat, no-repeat;
      mask-composite: source-out; }
      @media (max-width: 540px) {
        #comments-section .comments-list-item::after {
          mask: none; } }
    #comments-section .comments-list-item:hover:nth-child(2)::before, #comments-section .comments-list-item:hover:nth-child(3)::before {
      background: #977da8; }
    #comments-section .comments-list-item:nth-child(2), #comments-section .comments-list-item:nth-child(3) {
      position: relative; }
      #comments-section .comments-list-item:nth-child(2)::before, #comments-section .comments-list-item:nth-child(3)::before {
        content: "";
        width: 50px;
        height: 50px;
        background: #e2dbe7;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: -100px;
        transform: translateY(-50%);
        transition: all 200ms ease-out; }
        @media (max-width: 768px) {
          #comments-section .comments-list-item:nth-child(2)::before, #comments-section .comments-list-item:nth-child(3)::before {
            display: none; } }
    #comments-section .comments-list-item:nth-child(2) {
      margin-left: 100px; }
      @media (max-width: 768px) {
        #comments-section .comments-list-item:nth-child(2) {
          margin-left: 0; } }
    #comments-section .comments-list-item:nth-child(3) {
      margin-left: 200px; }
      @media (max-width: 768px) {
        #comments-section .comments-list-item:nth-child(3) {
          margin-left: 0; } }
    #comments-section .comments-list-item:last-child {
      margin-bottom: 0; }
  #comments-section .comments-list-item-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px dashed #e2dbe7; }
    @media (max-width: 540px) {
      #comments-section .comments-list-item-head {
        flex-direction: column; } }
  #comments-section .comments-photo {
    width: 86px;
    height: 86px;
    background: #cc95b2;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    margin-right: 30px;
    z-index: 2; }
    @media (max-width: 540px) {
      #comments-section .comments-photo {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px; } }
    #comments-section .comments-photo::after {
      content: "";
      width: calc(100% - 15px);
      height: calc(100% - 15px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px dashed #f2e4eb;
      border-radius: 100%; }
    #comments-section .comments-photo img {
      width: 100%;
      height: auto;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  @media (max-width: 540px) {
    #comments-section .comments-name {
      margin-bottom: 15px; } }
  #comments-section .comments-name h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #ad658b;
    margin-bottom: 15px; }
    @media (max-width: 540px) {
      #comments-section .comments-name h4 {
        text-align: center; } }
  #comments-section .comments-name ul.comments-date {
    list-style-type: none;
    padding: 8px 15px;
    margin: 0;
    border: 2px dashed #e2dbe7;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #comments-section .comments-name ul.comments-date > li {
      font-size: 12px;
      color: #79578e;
      margin-right: 8px; }
    #comments-section .comments-name ul.comments-date > li:first-child {
      font-weight: 700;
      color: #977da8; }
    #comments-section .comments-name ul.comments-date > li > span.dot {
      width: 6px;
      height: 6px;
      display: block;
      background: #beadc9;
      border-radius: 100%;
      vertical-align: middle; }
  #comments-section .comments-reply-btn {
    margin-left: auto; }
    @media (max-width: 540px) {
      #comments-section .comments-reply-btn {
        margin-right: auto; } }
  @media (max-width: 540px) {
    #comments-section .comments-list-item-body {
      text-align: center; } }
  #comments-section .comments-section-foot {
    margin-bottom: 170px; }
    @media (max-width: 768px) {
      #comments-section .comments-section-foot {
        margin-bottom: 100px; } }
    @media (max-width: 540px) {
      #comments-section .comments-section-foot {
        margin-bottom: 80px; } }
    #comments-section .comments-section-foot textarea {
      height: 200px;
      resize: none; }

/* DEMO-LIST-SECTION */
/* ================================== */
#demo-list-section {
  margin-top: 280px;
  margin-bottom: 60px; }
  @media (max-width: 540px) {
    #demo-list-section {
      margin-top: 400px; } }
  #demo-list-section .container {
    padding-top: 50px;
    border-top: 2px dashed #e2dbe7;
    margin-top: 30px; }
    @media (max-width: 540px) {
      #demo-list-section .container {
        border: 0; } }
  #demo-list-section .demo-item {
    margin-bottom: 30px; }
  #demo-list-section .demo-item-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px; }
    #demo-list-section .demo-item-head .number {
      width: 50px;
      height: 50px;
      border: 2px solid #beadc9;
      border-radius: 10px;
      position: relative;
      margin-right: 20px; }
      #demo-list-section .demo-item-head .number p {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-weight: 700;
        line-height: 20;
        letter-spacing: 0.06em;
        color: #79578e; }
    #demo-list-section .demo-item-head .title h6 {
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.1em;
      color: #beadc9;
      margin-bottom: 5px; }
    #demo-list-section .demo-item-head .title h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.05em;
      color: #8e3c67; }
  #demo-list-section .demo-item-body {
    width: 100%;
    height: 268px;
    border: 2px dashed #beadc9;
    overflow: hidden;
    position: relative; }
    #demo-list-section .demo-item-body:hover .view-demo-btn {
      background: rgba(255, 243, 241, 0.8); }
    #demo-list-section .demo-item-body:hover .btn-default {
      display: block; }
    #demo-list-section .demo-item-body img {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      height: 100%; }
      @media (max-width: 768px) {
        #demo-list-section .demo-item-body img {
          width: 100%;
          height: auto; } }
      @media (max-width: 540px) {
        #demo-list-section .demo-item-body img {
          width: auto;
          height: 100%; } }
    #demo-list-section .demo-item-body .btn-default {
      font-size: 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 200ms ease-out;
      display: none; }
    #demo-list-section .demo-item-body .view-demo-btn {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 200ms ease-out;
      text-align: center; }

/* DEMO-FOOTER-SECTION */
/* ================================== */
#demo-footer-section {
  padding: 80px 0;
  background: #79578e;
  text-align: center; }
  #demo-footer-section .demo-footer-tagline {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #5c3575;
    background: #e2dbe7;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 30px;
    margin-bottom: 30px;
    position: relative; }
    #demo-footer-section .demo-footer-tagline::before, #demo-footer-section .demo-footer-tagline::after {
      content: "";
      width: 6px;
      height: 6px;
      background: #79578e;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
    #demo-footer-section .demo-footer-tagline::before {
      left: 15px; }
    #demo-footer-section .demo-footer-tagline::after {
      right: 15px; }
  #demo-footer-section .demo-footer-headline {
    font-size: 72px;
    color: #f2e4eb;
    margin-bottom: 30px; }
  #demo-footer-section .demo-footer-description {
    font-size: 12px;
    color: #beadc9;
    display: inline-block;
    border: 2px dashed #977da8;
    margin: 0 auto;
    padding: 10px 30px;
    border-radius: 60px; }
