/*
Theme Name: Lavelo
Theme URI: http://themeforest.net/user/wpoceans/
Author: wpoceans
Author URI: http://themeforest.net/user/wpoceans/portfolio
Description: Lavelo – Wedding WordPress Theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: lavelo
Tags: one-column, two-columns, left-sidebar, right-sidebar, custom-menu, featured-images, post-formats, theme-options, translation-ready
*/


/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: " "
}
.clearfix:after {
    clear: both;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
    max-width: 100%;
}


/* By Authot Post */

.bypostauthor {
    display: inline-block;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
    margin-bottom: 1.5em;
    margin-right: -15px;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    padding-right: 15px;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

.screen-reader-text {
    background: transparent;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #fff;
}
.hart-wrap {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  margin-left: -10px;
  z-index: 1500;
}
.heart {
  position: relative;
}
.heart,
.heart:before,
.heart:after {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #5e9a8e;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.heart:before,
.heart:after {
  content: '';
  position: absolute;
  border-radius: 50%;
}
.heart:before {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: animX 3s infinite 0.75s;
          animation: animX 3s infinite 0.75s;
}
.heart:after {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: animY 3s infinite;
          animation: animY 3s infinite;
}
@-webkit-keyframes animX {
  0%, 25% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  50%, 75% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@keyframes animX {
  0%, 25% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  50%, 75% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@-webkit-keyframes animY {
  0%, 25% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50%, 75% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}
@keyframes animY {
  0%, 25% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50%, 75% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}