.date-block {
    height: 200px;
    width: 200px;
    position: fixed;
    top: 300px;
    right: -44px;
    z-index: 1099;
    
    img {
    position: relative;
    left: 67px;
    filter: drop-shadow(0px 1px 0px grey);
    }
    
    h3{
    font-size: 15px !important;
    text-align: center;
    color: $primary-color;
    position: absolute;
    bottom: 132px;
    right: 42px;
    transform: rotate(-33deg);
    }
    
    .ribbon-color {
        fill: $primary-color;
    }
}

@media only screen and (max-width: 767px) {
        
.date-block {
    display: none;
    }
    
}
