/*--------------------------------------------------------------
#1.5	event
--------------------------------------------------------------*/

.event-block svg {
    width: 15px;
    margin-right: 5px;
}
.event {
    overflow: hidden;
}
.event .content .row {
    margin-bottom: 75px;
}
.event .content .row:last-child {
    margin-bottom: 0;
}
.event .content h3 {
    margin: 15px 0;
}
.event h3 + p {
    display: inline-block;
    font-size: 18px;
    color: #1e1e1e;
}
.event h3 + p span {
    display: inline-block;
}
.event h3 + p i {
    display: inline-block;
    padding-right: 7px;
}
//
//.event .content .row a {
//    display: inline-block;
//    color: #df2349;
//    font-size: 18px;
//    margin-top: 20px;
//}


.location-pop-btn {
    display: block;
    i {
        font-size: 18px !important;
    }
}

/*event-frame*/

.event-padding {
//    padding-left: 50px;
}
.event .event-frame {
    width: 323px;
    height: 321px;
    position: relative;
    overflow: hidden;
}
.event .event-frame img:first-child {
    position: relative;
    z-index: 5;
}
.event .event-frame img:last-child {
    position: absolute;
    top: 10px;
    left: 10px;
}
.event-address-wrapper {
    position: relative;
    .where-are-you-coming-from-popup-overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        background-color: rgba(0,0,0,0.5);
        top: 0;
        left: 0;
        z-index: 10;
        display: none;
    }
    .where-are-you-coming-from-popup {
        height: 18px;
        width: 18px;
        position: fixed;
        transition: 0.4s all;
        background-image: url(../images/loc-pop-bg.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        transform: translate(-50%, 0);
        top: 30%;
        left: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
        text-align: center;
        opacity: 0;
    }
    .active {
        /*clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);*/
        height: 344px;
        width: 400px;
        border-radius: 5px;
        z-index: 15;
        background-color: $primary-color;
        opacity: 1;
    }
    .popup-wrapper {
        .content-wrapper {
            padding: 0 10px;
            .where-text {
                color: white;
                font-size: 17px;
                margin: 0;
                font-family: sans-serif;
                padding: 8px 0;
            }
            .place-input {
                border: none;
                padding: 4px;
                border-radius: 2px;
                outline: none;
                width: 90%;
            }
        }
        .map-outer-wrapper {
            width: 100%;
            height: 210px;
            padding: 8px;
            position: relative;
        }
        .map-wrapper {
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }
    }
}
#mode-selector {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    input {
        margin: 0;
    }
    label {
        margin: 0;
        font-family: sans-serif;
        color: white;
        font-weight: 100;
        padding: 0 4px;
    }
}
#origin-input {
    width: 80%;
    margin: 0 0 8px 0px;
    padding: 4px;
    font-family: sans-serif;
    font-size: 13px;
    outline: none;
    border: none;
    border-radius: 2px;
}
.time-dist-text {
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    margin: 0;
    font-size: 13px;
}

.event-address {
    font-size: 18px !important;
    display: inline !important;
}
