/*
Theme Name:  True-Love-Bootstrap Wedding Template
Theme URI: http://true-love.themexriver.com
Author: themexriver
Description: True-Love-Bootstrap Wedding Template
Version: 1.0
*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
#0.1	Theme Reset Style
#0.2	Global Elements 


=========================================================
1.	index page
=========================================================
#1.1	header
#1.2	wedding-announcement
#1.3	love-story
#1.4	video-bg
#1.5	event
#1.6	gallery
#1.7	groomsmen-bridesmaids
#1.8	gift-registration
#1.9	rsvp
#1.10	journal
#1.11	wedd-location
#1.12	footer


=========================================================
2.	blog
=========================================================
#2.1	blog-header
#2.2	blog-content


=========================================================
3.	blog-details
=========================================================
#3.1	blod-details-header
#3.2	blog-details-content


=========================================================
4.	blog-masonry
=========================================================
#4.1	blog-masonry-header
#4.2	blog-masonry-content


=========================================================
5.	404
=========================================================
#5.1	404-header


=========================================================
6.	comming-soon
=========================================================
#6.1	comming-soon-content





*/


/*--------------------------------------------------------------
#0.1	Theme Reset Style
--------------------------------------------------------------*/

body {
    font-family: 'Roboto Slab', serif;
    color: #1e1e1e;
}

h1 {
    font-family: 'Lobster', cursive;
}

h3 {
    color: #1e1e1e;
    font-size: 30px;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Dancing Script', cursive;
}



p {
    font-size: 14px;
    line-height: 30px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a,
a:hover {
    text-decoration: none !important;
}

a:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

::-webkit-input-placeholder {
    opacity: 1 !important;
}

input::-moz-placeholder {
    opacity: 1 !important;
}

input:-moz-placeholder {
    opacity: 1 !important;
}


/*--------------------------------------------------------------
#0.2	Global Elements 
--------------------------------------------------------------*/


/*--------------------------------------------------------------
#1	index-page
--------------------------------------------------------------*/













/*--------------------------------------------------------------
#1.8	gift-registration
--------------------------------------------------------------*/

.gift-registration {
    position: relative;
    overflow: hidden;
}

.gift-registration .owl-page span {
    background-color: #1e1e1e !important;
    margin-bottom: 0 !important;
}

.gift-registration .owl-item {
    text-align: center;
}

.gift-registration .gift-slider img {
    display: block;
    margin: 0 auto;
}


/*--------------------------------------------------------------
#1.9	rsvp
--------------------------------------------------------------*/

.rsvp {
    background: url(../images/home/rsvp-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.rsvp .overlay {
    background-color: rgba(255, 255, 255, 0.8);
}

.rsvp .from-wrapper {
    background: url(../images/home/rsvp-form-bg.png) no-repeat 50% 50%;
    background-size: 100% 723px;
    height: 723px;
    padding: 0;
}

.rsvp .form-inline {
    padding: 160px 45px 40px 50px;
    position: relative;

    overflow: hidden;
}

.rsvp .form-inline .col {
    margin-bottom: 20px;
}

.rsvp form input,
.rsvp form select,
.rsvp form textarea {
    background-color: rgba(255, 255, 255, 0.6);
    width: 98% !important;
    height: 50px;
    font-size: 18px;
    font-weight: lighter;
    color: #1e1e1e;
    border: 1px solid #b8b8b8;
}

.rsvp form textarea {
    height: 200px;
    padding: 15px;
    border-radius: 5px;
}

.rsvp form input[type="submit"] {
    background-color: #df2349;
    width: auto !important;
    color: #fff;
    padding: 0 100px;
    border: 1px solid #fff;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-transition: all 0.3s;
}

.rsvp form input[type="submit"]:hover {
    background-color: #ec3e61;
}

.rsvp::-webkit-input-placeholder {
    color: #1e1e1e;
    opacity: 1 !important;
}

.rsvp:-moz-placeholder {
    color: #1e1e1e;
    opacity: 1 !important;
}

.rsvp::-moz-placeholder {
    color: #1e1e1e;
    opacity: 1 !important;
}

.rsvp:-ms-input-placeholder {
    color: #1e1e1e;
    opacity: 1 !important;
}


/*--------------------------------------------------------------
#1.10	journal
--------------------------------------------------------------*/

.journal {
    overflow: hidden;
    padding-bottom: 0;
}

.journal .content {
    background: #df2349 url(../images/home/journal/bg.jpg);
    margin-top: 150px;
    padding-bottom: 130px;
    position: relative;
}

.journal .content:after {
    content: "";
    width: 100%;
    height: 32px;
    display: block;
    background: url(../images/home/bottom-shape.png) repeat-x;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.journal .content .container {
    margin-top: -114px;
}

.journal .frame {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    top: -37px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.journal .frame img {
    border-radius: 50%;
}

.journal .frame .frame-main {
    position: relative;
    z-index: 5;
}

.journal .frame .frame-sm {
    width: 100%;
    position: relative;
    z-index: 5;
    display: none;
}

.journal .frame .main-img {
    width: 97%;
    position: absolute;
    right: 2px;
    top: 2px;
}


/*hover-title*/

.journal .frame .hover-title {
    background: rgba(223, 35, 73, 0.8) url(../images/home/journal/hover-frame.png) no-repeat 45% center;
    background-size: 85%;
    width: 98%;
    height: 98%;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 4;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.journal .frame a:hover .hover-title {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.journal .frame .hover-title div {
    background: #fff;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.journal .frame .hover-title div span {
    display: inline-block;
    font-size: 24px;
    color: #df2349;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*bottom-links*/

.journal .link {
    text-align: center;
}

.journal .link a {
    background-color: transparent;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 45px;
    margin: 15px 10px 0 0;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.journal .link a:hover {
    background-color: #fff;
    color: #df2349;
}


/*--------------------------------------------------------------
#1.11	wedd-location
--------------------------------------------------------------*/





/*--------------------------------------------------------------
#2	blog
--------------------------------------------------------------*/


/*--------------------------------------------------------------
#2.1	blog-header
--------------------------------------------------------------*/

#blog .banar {
    background-image: url(../images/blog/banar.jpg);
}


/*--------------------------------------------------------------
#2.2	blog-content
--------------------------------------------------------------*/

#blog .blog-content {
    background-color: #fef0ee;
}

#blog .blog-content .row {
    background-color: #fff;
    padding: 15px 0;
    margin-bottom: 60px;
}

#blog .blog-content .container .row:last-child {
    margin-bottom: 0;
}

#blog .blog-content h2 a {
    color: #1e1e1e;
}

#blog .blog-content h2 a:hover {
    color: #df2349;
}

#blog .blog-content .post-details {
    font-size: 17px;
    margin-bottom: 20px;
}

#blog .blog-content .post-name a,
#blog .blog-content .post-comment a {
    color: #df2349;
}

#blog .blog-content .read-more {
    color: #df2349;
    font-size: 20px;
}


/*--------------------------------------------------------------
#3	blog-details
--------------------------------------------------------------*/


/*--------------------------------------------------------------
#3.1	blog-details-header
--------------------------------------------------------------*/

#blog-details .banar {
    background-image: url(../images/blog-details/banar.jpg);
}


/*--------------------------------------------------------------
#3.2	blog-details-content
--------------------------------------------------------------*/

#blog-details .blog-details-content {
    background: #fdf4f3;
    padding-bottom: 90px;
    overflow: hidden;
}

#blog-details .blog-details-content > div {
    padding: 0 95px;
}

#blog-details .blog-details-content > img {
    background-color: #fff;
    border: 2px solid #f44d6e;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 80px;
}

#blog-details .blog-details-content p {
    margin-bottom: 35px;
}

#blog-details .blog-details-content blockquote {
    font-size: 16px;
    font-style: italic;
    line-height: 28px;
    padding: 0;
    border: 0;
    margin-bottom: 35px;
}

#blog-details .blog-details-content ul {
    text-align: center;
    margin: 60px 0;
}

#blog-details .blog-details-content ul li {
    display: inline-block;
    margin-right: 20px;
}

#blog-details .blog-details-content ul a {
    background-color: #df2349;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    color: #fff;
    font-size: 25px;
    border-radius: 50%;
}

#blog-details .blog-details-content ul a:hover {
    background-color: #1e1e1e;
}


/*comment*/

#blog-details .comment h2 {
    margin-bottom: 30px;
}

#blog-details .comment h3 {
    margin-top: 0;
}

#blog-details .comment .col:last-child {
    padding-left: 0;
}

#blog-details .comment img {
    border: 3px solid #fff;
    border-radius: 5px;
}

#blog-details .comment a {
    display: inline-block;
    background-color: #df2349;
    color: #fff;
    border-radius: 5px;
    padding: 5px 8px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#blog-details .comment a:hover {
    background-color: #1e1e1e;
}

#blog-details .comment .row {
    margin-bottom: 20px;
}

#blog-details .comment .sub-comment {
    padding-left: 115px;
}


/*comment-submit-form*/

.comment-submit-form {
    background-color: #fdf4f3;
    padding: 0 95px 120px;
    position: relative;
}

.comment-submit-form h2 {
    margin-bottom: 0.7em;
}

.comment-submit-form form {
    position: relative;
}

.comment-submit-form input[type="text"],
.comment-submit-form input[type="email"] {
    height: 50px;
    border: none;
    box-shadow: none;
}

.comment-submit-form textarea {
    height: 185px;
    border: 0;
    box-shadow: none;
    padding: 15px;
}

.comment-submit-form input:focus,
.comment-submit-form textarea:focus {
    box-shadow: none;
}

.comment-submit-form input[type="submit"] {
    background-color: #df2349;
    width: 150px;
    height: 50px;
    text-align: center;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: -68px;
    border: 0;
    box-shadow: 0;
}

.comment-submit-form input[type="submit"]:hover {
    background-color: #1e1e1e;
}


/*--------------------------------------------------------------
#4	blog-masonry
--------------------------------------------------------------*/


/*--------------------------------------------------------------
#4.1	blog-masonry-header
--------------------------------------------------------------*/

#blog-masonry .banar {
    background-image: url(../images/blog-masonry/banar.jpg);
}


/*--------------------------------------------------------------
#4.2	blog-masonry-content
--------------------------------------------------------------*/

#blog-masonry .blog-content {
    background-color: #fdf4f3;
    padding-bottom: 50px;
}

#blog-masonry .blog-content .col {
    margin-bottom: 50px;
}

#blog-masonry .blog-content .thumbnail {
    padding: 15px 15px 25px;
    border: 0;
}

#blog-masonry .thumbnail h2 a {
    color: #1e1e1e;
}

#blog-masonry .thumbnail h2 a:hover {
    color: #df2349;
}

#blog-masonry .thumbnail h2 + p {
    font-size: 16px;
}

#blog-masonry .thumbnail h2 + p span {
    color: #df2349;
}

#blog-masonry .thumbnail > a {
    font-size: 16px;
    color: #df2349;
}

#blog-masonry .pagination a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #1e1e1e;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin-right: 8px;
}

#blog-masonry .pagination .active a {
    background-color: #df2349;
    color: #fff;
}


/*--------------------------------------------------------------
#5	404
--------------------------------------------------------------*/


/*--------------------------------------------------------------
#5.1	404-header
--------------------------------------------------------------*/

#error-404 .banar {
    background-image: url(../images/error-404-banar.jpg);
    height: 684px;
}

#error-404 .banar h2 {
    font-family: 'Roboto Slab', serif;
    color: #fff;
    margin-bottom: 20px;
}

#error-404 .banar a {
    background-color: #df2349;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 10px 40px;
    margin-top: 40px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#error-404 .banar a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#error-404 .banar-title {
    position: absolute;
    top: 45%;
    text-align: center;
}


/*--------------------------------------------------------------
#6	comming-soon
--------------------------------------------------------------*/


/*--------------------------------------------------------------
#6.1	comming-soon-content
--------------------------------------------------------------*/

.comming-soon-content {
    background: url(../images/comming-soon/bg.png) center center;
    text-align: center;
    padding: 250px 0 50px;
}

.comming-soon-content .container {
    height: 100%;
}

.comming-soon-content h1 {
    background-image: url(../images/comming-soon/heading-left-icon.png), url(../images/comming-soon/heading-right-icon.png);
    background-repeat: no-repeat;
    background-position: left center, right center;
    font-size: 83px;
    color: #df2349;
    display: inline-block;
    padding: 0 140px;
}

.comming-soon-content h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 38px;
    color: #020202;
    padding-bottom: 80px;
}

.comming-soon-content #clock {
    width: 100%;
    height: 100%;
}

#clock .wrapper-digit {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#clock .wrapper-digit .digit {
    font-family: 'Lobster', cursive;
}

#clock .wrapper-digit p {
    font-size: 20px;
    margin-top: -10px;
}

#clock .time > div {
    background: url(../images/comming-soon/frame.png) no-repeat;
    background-size: cover;
    width: 172px;
    height: 172px;
    margin: 0 auto;
    position: relative;
}

#clock .wrapper-digit div {
    width: 35px !important;
    height: 80px !important;
    display: inline-block;
    font-size: 60px !important;
    color: #df2349;
    overflow: hidden;
}


/*css3 animation*/

.logo-rotating {
    -webkit-animation: logo-rotating 20s linear infinite;
    animation: logo-rotating 20s linear infinite;
}

@-webkit-keyframes logo-rotating {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes logo-rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.heart-animation {
    -webkit-animation: heart-animation 2s ease-in-out infinite alternate;
    -webkit-transform-origin: bottom;
    animation: heart-animation 2s ease-in-out infinite alternate;
    transform-origin: bottom;
}

@-webkit-keyframes heart-animation {
    0% {
        -webkit-transform: rotateZ(20deg);
    }
    100% {
        -webkit-transform: rotateZ(-20deg);
    }
}

@keyframes heart-animation {
    0% {
        transform: rotateZ(20deg);
    }
    100% {
        transform: rotateZ(-20deg);
    }
}



.inviname {
    position: absolute;
    top: 31%;
    width: 100%;
    text-align: center;
    z-index: 190;
    color: white;
    font-size: -webkit-xxx-large;
}

.inviinvi {
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
    z-index: 190;
    color: white;
    font-size: xx-large;
}

.photoquote {
    color: white;
    width: 100%;
    text-align: center;
    /* z-index: 000; */
    margin-top: 20%;
    position: absolute;
    font-size: -webkit-xxx-large;
}