/*--------------------------------------------------------------
#1.4	video-bg
--------------------------------------------------------------*/
.video-section {
        height: 100vh;
}



@media only screen and (max-width: 800px) {
        .video-section {
                height: 50vh;
            }
}


.video-bg {
    background: url(../images/video-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 540px;
    position: relative;
}

.video-bg .overlay {
    background-color: $primary-color;
}

.video-bg a {
    width: 71px;
    height: 71px;
    text-align: center;
    background-color: #fff;
    border: 0;
    ;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.video-bg a i {
    font-size: 36px;
    color: #fa235c;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.video-bg a:hover,
.video-bg a:focus,
.video-bg a:active {
    background: #fff !important;
}



