* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: MontserratMedium;
    src: url("../font/Montserrat-Medium.otf") format("opentype");
}

@font-face {
    font-family: Montserratbold;
    src: url("../font/montserrat.bold.ttf") format("TrueType");
}

@font-face {
    font-family: CeraGR-Medium;
    src: url("../fonts/CeraGRMedium.otf") format("opentype");
}

@font-face {
    font-family: CeraGR-Light;
    src: url("../fonts/CeraGRLight.otf") format("opentype");
}

@font-face {
    font-family: HelveticaBold;
    src: url("../fonts/HelveticaBold.ttf") format("TrueType");
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* position: relative; */
}

.first-box {
    display: flex;
    text-align: center;
}



.transparent_menu {
    background: #c4c4c4;
    padding: 10px 280px;
    position: absolute;
}

.centered {
    color: #fff;
    /* margin: 4% !important; */
    
    text-align: center;
    font-family: "Kaushan Script" !important;
    font-size: 68px !important ;
}

.centered_small {
    color: #fff;
    /* margin: 52px; */
   
    
    text-align: center;
    font-family: "Kaushan Script" !important ;
    font-size: 42px !important ;
}

.centered_last {
    color: #fff;
    font-family: MontserratMedium;
    font-size: 18px;
    text-align: center;
    margin-top: 70px;
}

/* start section 2 css */
.section-2 {
    display: flex;
    justify-content: center;
}

.Link {
    cursor: pointer;
    /* border: 3px solid #2da854; */
    border-radius: 25px;
    font-family: MontserratMedium;
    font-size: 15px !important ;
    color:#5f5f5f;
    margin-left: 26px;
    min-width: 150px;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    margin-bottom: 10px;
}

.textfont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Link-game {
    font-family: MontserratMedium;
    font-size: 18px;
    color: #5f5f5f;
    border: 2px solid #e5e5e5;
    padding-left: 20px;
    padding-right: 20px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.first-wrapper {
   
    background-image: url(../image/image.png);
    background-repeat: no-repeat;
    height: 100vh !important;
    width: 100%;
    background-size: cover;
    position: relative;
}

.adjust {
    width: 90%;
    margin: 20px auto;
}

.phone1 {
    margin: 64px 50px 60px;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.82);
}

@media only screen and (max-width: 600px) {
    .section-2 {
        flex-wrap: wrap;
        padding: 10px;
        justify-content: space-between;
    }

    .Link {
        /* font-size: 9px; */
        /* margin-top: 10px; */
        margin-left: 10px;
    }

    .centered {
        /* margin: 50px 0px 6px; */
        font-size: 32px;
    }

    .centered_small {
        font-size: 18px;
    }

    .centered_last {
        font-size: 14px;
        margin-top: 70px;
    }

    .Link-game {
        margin-top: 10px;
        text-decoration: none;
        margin-left: 0px;
        font-size: 9px;
    }

    =======margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: MontserratMedium;
    src: url("../font/Montserrat-Medium.otf") format("opentype");
}

@font-face {
    font-family: Montserratbold;
    src: url("../font/montserrat.bold.ttf") format("TrueType");
}

@font-face {
    font-family: CeraGR-Medium;
    src: url("../fonts/CeraGRMedium.otf") format("opentype");
}

@font-face {
    font-family: CeraGR-Light;
    src: url("../fonts/CeraGRLight.otf") format("opentype");
}

@font-face {
    font-family: HelveticaBold;
    src: url("../fonts/HelveticaBold.ttf") format("TrueType");
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* position: relative; */
}

.first-box {
    display: flex;
    text-align: center;
}

.bg-img {}

.transparent_menu {
    background: #c4c4c4;
    padding: 10px 280px;
    position: absolute;
}

.centered {
    color: #fff;
    /* margin: 10px 10px 10px 10px; */
    font-family: Montserratbold;
    font-size: 36px;
    text-align: center;
    line-height: 90px;
    /* margin-top: %; */
}

.centered_small {
    /* transform: translate(-50%,-50%); */
    color: #fff;
    font-family: MontserratMedium;
    font-size: 22px;
    text-align: center;
  
}

.centered_last {
    color: #fff;
    font-family: MontserratMedium;
    font-size: 18px;
    text-align: center;
    margin-top: 70px;
}

/* start section 2 css */
.section-2 {
    display: flex;
    justify-content: center;
}

.Link {
    
    border-radius: 25px;
    font-family: MontserratMedium;
    /* font-size: 16px; */
    color: #5f5f5f;
    margin-left: 26px;
    min-width: 125px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;
}

.Link:active{
    border: 2px solid #2da854 ;
    color:#2da854 !important ;

}

.Link:hover{
    border: 2px solid #2da854 ;
    color: #2da854;

}

.textfont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Link-game {
    font-family: MontserratMedium;
    font-size: 18px;
    color: #5f5f5f;
    border: 2px solid #e5e5e5;
    padding-left: 20px;
    padding-right: 20px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.first-wrapper {
    
    background-image: url(../image/image.png);
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    background-size: cover;
    position: relative;
}

.adjust {
    width: 90%;
    margin: 20px auto;
}

.phone1 {
    margin: 64px 50px 60px;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.82);
}

@media only screen and (max-width: 600px) {
    .section-2 {
        flex-wrap: wrap;
        padding: 10px;
        justify-content: space-between;
    }

    .Link {
        font-size: 9px;
        /* margin-top: 10px; */
        margin-left: 10px;
    }

    .centered {
        /* margin: 50px 0px 6px; */
        font-size: 32px;
    }

    .centered_small {
        font-size: 18px;
    }

    .centered_last {
        font-size: 14px;
        margin-top: 70px;
    }

    .Link-game {
        margin-top: 10px;
        text-decoration: none;
        margin-left: 0px;
        font-size: 9px;
    }

}
