/*
Theme Name: Neeqah
Theme URI: http://themeforest.net/user/ThemeWarriors/portfolio
Description: Wedding WordPress theme
Author: ThemeWarrior
Author URI: http://www.themewarrior.com
Version: 1.0.4
License: GPL
License URI: license.txt
Tags: white, light, one-column, two-columns, right-sidebar, responsive-layout, custom-menu, featured-images, translation-ready
*/


/**
 * Table of Contents:
 *
 * 1.0 - Imported Styles
 * 2.0 - Common Styles
 *   2.1 - Heading
 * 3.0 - Header Layout
 *   3.1 - Logo
 *   3.2 - Main Menu
 *   3.3 - Slideshow
 * 4.0 - Main Layout
 * 5.0 - Articles
 *   5.1 - Common
 *   5.2 - Post Grid
 *   5.3 - Comments
 *   5.4 - Gallery
 *   5.5 - History Timeline
 * 6.0 - Widgets
 *   6.1 - About Couple
 *   6.2 - Countdown
 *   6.3 - Gallery
 *   6.4 - Events & Blog Grid
 *   6.5 - Testimonials
 *   6.6 - RSVP
 *   6.7 - Couple Tweets
 *   6.8 - Other Widgets
 * 7.0 - Forms
 * 8.0 - Footer
 * 9.0 - Standard WordPress Styles 
 * ----------------------------------------------------------------------------
 */

/* -----------------------------------
    1.0 - Imported Styles 
-----------------------------------*/

@import url('http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic');
@import url('http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic');
@import url('http://fonts.googleapis.com/css?family=Roboto:900,400italic,400,300,700');
@import url('http://fonts.googleapis.com/css?family=Antic+Didone');

/* -----------------------------------
    2.0 - Common Styles 
-----------------------------------*/

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	background: #fff;
	font: 14px/180% 'Antic Didone', Georgia, serif;
	color: #555;
	line-height: 24px;
}

input, 
textarea {
    font: 14px 'Antic Didone', Georgia, serif;
}

input[type="submit"],
button {
    font: 16px 'Antic Didone', Helvetica, Arial;
    cursor: pointer;
}

p {
    margin-bottom: 20px;
}

a {
	transition: all ease-in 0.3s;
}

a:link {
	color: #333;
    text-decoration: none;
}

a:hover {
	color: #cd0216;
    text-decoration: none !important;
}

p {
    margin: 0 0 1.7em 0;
}

blockquote {
	color: #9e9e9e;
	margin: 30px 7%;
	padding-left: 20px;
	border-left: 5px solid #ddd;
}

address { margin-bottom: 20px; }

blockquote:before, blockquote:after, q:before, q:after {
content: "";
}

pre, code {
	font: .9em/120% 'Courier New', Courier, monospace;
	overflow-x: auto;
	overflow-y: hidden;
	margin: 30px 0;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

th {
  text-align: left;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

table > tbody + tbody {
  border-top: 2px solid #dddddd;
}

dl { margin-bottom: 20px; }

ul, 
ol {
    margin: 24px;
    padding: 0;
}

ul li {
    list-style: disc;
    margin-bottom: 4px;
}

ol li {
    list-style: decimal;
    margin-bottom: 4px;
}

li ul,
li ol {
    margin-top: 4px;
}

img,
embed,
iframe,
object,
video {
    max-width: 100%;
}

img {
    height: auto;
}

::selection {
    background-color: #f66767;
    color: #fff;
}


.clear {
	float: left;
	clear: both;
	width: 100%;
}

.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}.clearfix:after{clear:both;}

.clearfix {
	width: 100%;
	clear: both;
}

.thumbnail {
	position: relative;
}

.thumbnail img {
	max-width: 100%;
	height: 100%;
	vertical-align: top;
}

.table {
	display: table;
	width: 100%;
	height: 100%;
}

.tablecell {
	display: table-cell;
	vertical-align: middle;
}

/**
 * 2.1 Heading
 * ----------------------------------------------------------------------------
 */

h1,
h2,
h3,
h4{
	font-family: Lato, Helvetica, Arial;
	margin: 20px 0;
	font-weight: bold;
}

h5,
h6{
	font-family: Lato, Helvetica, Arial;
	margin: 10px 0;
	font-weight: bold;
}

article.hentry h1,
article.hentry h2,
article.hentry h3,
article.hentry h4,
article.hentry h5,
article.hentry h6 {
	line-height: 110%;
}

/* -----------------------------------
    3.0 - Header Layout
-----------------------------------*/
#header {
	background: #111;
	float: left;
	clear: both;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}

body.admin-bar #header {
	top: 32px;
}

/**
 * 3.1 Logo & Main Slider
 * ----------------------------------------------------------------------------
 */
#main-slider {
	height: 550px !important;
	padding: 0;
	overflow: hidden;
}

#main-slider .bg-opacity {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
	position: absolute;
	top: 0;
	z-index: 100;
}

#main-slider .wedding-info {
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	z-index: 100;
}

#main-slider.static {
	height: 300px !important;
	background: url(images/header/header-1.jpg) no-repeat;
	background-size: cover;
	margin-bottom: 60px;
}

#main-slider.static .wedding-info .name {
	font-size: 25px;
}

#main-slider.static .section-title .section-subtitle {
	font-size: .95em;
}

#logo {
	margin-bottom: 20px;
}

.wedding-info .name {
	font: 50px 'Antic Didone', Georgia, 'Times New Roman';
	color: #fff;
	letter-spacing: 3px;
	text-transform: uppercase;
    display: inline-block;
    margin: 0 2%;
    vertical-align: middle;
}

.wedding-info .name.left {
    text-align: right;
}

.wedding-info .name span {
    display: block;
    font-size: 24px;
}

.wedding-info .name.left span {
    text-align: right;
}

.wedding-info .name.right span {
    text-align: left;
}

.wedding-info .and {
    display: inline-block;
    font-size: 90px;
    color: #555;
    line-height: 1;
    position: relative;
    top: 25px;
}

.wedding-info .wedding-date span.text {
	margin-right: 20px;
	font-style: italic !important;
}

.wedding-info .wedding-date span.text:last-child {
	margin-right: 0;
}

#main-slider .typcn {
	color: #edc037
}



.home-widget.slideshow {
	padding: 0;
}

.slideoverlay {
    position: absolute;  top: 0;  left: 0;  right: 0;  bottom: 0;
    background: rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    color: #fff;
}

.home-widget.slideshow .flex-control-nav {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
}

/**
 * 3.2 Main menu
 * ----------------------------------------------------------------------------
 */

nav#main-menu {
	color: #ccc;
}

nav#main-menu ul {
	margin: 0;
}

nav#main-menu ul li {
	float: left;
	list-style: none;
	position: relative;
	margin: 0;
}

nav#main-menu ul.main li a:hover,
nav#main-menu ul li.current-menu-item a,
nav#main-menu ul li.current_page_item a {
	background: #bf360c;
}

nav#main-menu ul.dropdown li a:hover {
	border-bottom: none;
}

nav#main-menu ul li a {
	text-transform: uppercase;
	font: 700 13px/100% 'Antic Didone', Georgia, serif;
	color: #fff;
	letter-spacing: 2px;
	margin: 0;
	padding: 20px;
	display: block;
	font-weight: 700 !important;
}

nav#main-menu ul li a span {
	display: block;
	margin-bottom: 10px;
}

nav#main-menu ul li ul.dropdown {
	position: absolute;
	left: 0;
	top: 100%;
	width: 200px;
	background: #fafafa;
	color: #151515;
	z-index: 2;
	text-align: left;
}

nav#main-menu ul li ul li {
	display: block;
	width: 100%;
}

nav#main-menu ul li ul li:hover {
	background: #dfb01f;
}

nav#main-menu ul li.menu-item-has-children {
    padding-right: 10px;
    position: relative;
}

nav#main-menu ul li a {
    display: block;
    padding: 15px;
    line-height: 150%;
    text-transform: uppercase;
    font-weight: bold;
}

nav#main-menu ul ul li:hover > a,
nav#main-menu ul li.current-menu-item > a,
nav#main-menu ul li.current_page_item > a,
nav#main-menu ul li.current-post-ancestor > a,
nav#main-menu ul li.current-menu-parent > a,
nav#main-menu ul li.current-post-parent > a {
}

.nav#main-menu ul li:hover > ul {
    display: block;
}

nav#main-menu ul ul.sub-menu {
	width: 200px;
	background-color: #111;
	position: absolute;
	top: 100%;
	z-index: 2;
	color: #666;
	display: none;
}

nav#main-menu ul ul.sub-menu li ul.sub-menu {
    position: absolute;
    width: 200px;
    left: 200px;
    top: 0;
    display: none;
    z-index: 10;
}

nav#main-menu ul ul li ul ul.sub-menu {
    width: 200px;
    top: 0;
    left: 220px;
}

nav#main-menu ul ul li ul li {
    display: block;
}

nav#main-menu ul ul li ul li:hover > a {
    color: #fff;
}

nav#main-menu ul ul li ul li a {
    padding: 20px;
    border-top: none !important;
}

nav#main-menu ul ul li ul li {
    width: 100%;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
    padding-right: 1.5em !important;
    *padding-right: 1em !important; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -3px;
    height: 0;
    width: 0;
    /* order of following 3 rules important for fallbacks to work */
    border: 5px solid transparent;
    border-top-color: #ccc; /* edit this to suit design (no rgba in IE8) */
    border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: #ccc; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
    margin-top: -5px;
    margin-right: 10px;
    border-color: transparent;
    border-left-color: #ccc; /* edit this to suit design (no rgba in IE8) */
    border-left-color: rgba(255,255,0255.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
    border-left-color: #ccc;
}

.too_narrow_fix {
   left: -200px !important;
   top: .5em  !important;
}

.select-menu {
	display: none;
	width: 100%;
	height: 40px;
	font-size: 16px;
	margin: 20px auto;
	border: none;
	padding: 10px;
}

/* -----------------------------------
    4.0 - Main Layout
-----------------------------------*/

.container {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

#box-wrapper {
	max-width: 960px;
	margin: 70px auto;
	background: #fff;
	box-shadow: 0 0 0 1px rgba(0,0,0,.04),0 1px 5px rgba(0,0,0,.1);
}

#main-content {
	float: left;
	clear: both;
	width: 100%;
	padding-bottom: 50px;
}

body.home #main-content {
	padding-bottom: 0;
}


#leftcontent {
    width: 65%;
    float: left;
    margin-right: 4%;
}

#rightcontent {
    width: 31%;
    float: left;
	
}

.breadcrumb {
	font-size: 12px;
	margin-left: -6px;
}

.breadcrumb span {
	padding: 0 3px;
}


h1.page-title {
	font-size: 48px;
	margin: 30px 0 40px 0;
}

/* -----------------------------------
    5.0 - Articles
-----------------------------------*/

/**
 * 5.1 Common
 * ----------------------------------------------------------------------------
 */

article.hentry h1.entry-title,
article.hentry h2.entry-title,
h1.page-title {
	font: 900 32px/110% Lato, Helvetica, Arial;
	color: #212121;
	letter-spacing: -1px;
	margin-bottom: 10px;
}

article.hentry h1.entry-title {
	font-size: 48px;
	margin: 0 0 10px 0;
}

article.hentry .post-content {
	font-size: 1.2em;
	line-height: 160%;
	padding-top: 14px;
}

body.single-attachment article.type-attachment {
	text-align: center;
	margin-bottom: 50px;
}

body.single p {
	margin-bottom: 20px;
}

.blog-post .detail h2 {
	font-size: 20px;
}

 /* Post Meta */
.meta {
	float: left;
	clear: both;
	width: 100%;
}

.meta ul {
	float: left;
	clear: both;
	width: 100%;
	margin: 0;
}

.meta ul li {
	float: left;
	width: 48%;
	list-style: none;
	line-height: 1;
	padding: 0;
}

.meta span {
	font: normal 10px Lato, Helvetica, Arial;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-right: 10px;
	color: #9e9e9e;
}

.meta span i {
	font-size: 14px;
	margin-right: 3px;
	color: #edc037;
}

.rating {
	position: relative;
}

.rating-container i.typcn {
	color: #ccc;
}

.user-rating {
	position: absolute;
	top: -4px;
	left: 0;
}

body.single-accommodation #leftcontent .meta .user-rating {
	top: -5px;
}

body.single-event article.type-event,
body.single-accommodation article.type-accommodation {
}

body.single-event article.type-event .meta,
body.single-accommodation article.type-accommodation .meta {
	margin: 10px 0 30px 0;
}

body.single-event article.type-event .meta span {
	font-size: 12px;
}

body.single-event article.type-event .meta span i,
body.single-accommodation article.type-accommodation .meta span i {
	font-size: 16px;
}

#leftcontent .pagination {
	text-align: left;
}

.pagination {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 80px;
}

.pagination a {
	padding: 10px 20px;
	font-weight: bold;
}

.pagination a i {
	font-size: 12px;
	margin: 0 5px;
}

.pagination a:hover {
	opacity: 0.6;
}

.pagination a.current {
	opacity: 0.6;
}

.pagination a.separator {
	cursor: normal;
}

.pagination a.separator:hover {
	opacity: 1;
} 

#post-nav {
    float: left;
    width: 100%;
    background: #fff;
    padding: 0;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}

#post-nav .post-previous, 
#post-nav .post-next {
    float: left;
    width: 50%;
    padding: 20px 2.4% 20px 5%;
    position: relative;
    border-right: solid 1px #eee;
}

#post-nav .post-next {
	float: right;
}

#post-nav span {
	font-size: 11px;
	color: #dec307;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#post-nav h3 {
	line-height: 140%;
	margin-bottom: 0;
}

#post-nav .post-next {
    text-align: right;
    border: none;
    padding-right: 5%;
    width: 50%;
    padding-left: 2.4%;
}

#post-nav .post-next:after,
#post-nav .post-previous:after {
	font-family: 'typicons';
	font-size: 30px;
	position: absolute;
	top: 65%;
	margin-top: -14px;
	color: #d3d3d3;
}

#post-nav .post-next:hover:after,
#post-nav .post-previous:hover:after {
	color: #dec307;
}

#post-nav .post-next:after {
	content: '\e049';
	right: 0;
}

#post-nav .post-previous:after {
	content: '\e047';
	left: 0;
}

.single-author {
	float: left;
	clear: both;
	width: 100%;
	margin: 30px 0 60px 0;
}

.single-author .wrapper {
	margin-top: 20px;
}

.single-author .thumbnail {
	float: left;
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.single-author .info {
	margin-left: 120px;
}

.single-author .info p {
	line-height: 140%;
	margin-bottom: 0;
}

.single-author .info a {
	display: block;
	font: 700 16px Lato, Helvetica, Arial;
	margin-bottom: 10px;
}


/**
 * 5.2 Post Grids
 * ----------------------------------------------------------------------------
 */

 .posts-grid ul li .thumbnail {
	cursor: pointer;
	margin-bottom: 15px;
}

.posts-grid ul li h3 {
	font-family: Lato, Helvetica, Arial;
	font-size: 16px;
	margin-bottom: 0;
}

.posts-grid ul li .meta {
	margin-bottom: 10px;
}

ul.grid li p {
	display: block;
	color: #ccc;
	margin-top: 20px;
}

.grid li .meta {
	margin-bottom: 20px;
}

/**
 * 5.3 Comments
 * ----------------------------------------------------------------------------
 */

 /* Comments */
.comments ul {
	margin: 0;
	padding: 0;
}

.comments ul li {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 20px;
}

#page-guestbook .comments ul li {
}

#page-guestbook .comments ul li li {
	width: 100% !important;
}

.comments ul li .thumbnail {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 0;
    overflow: hidden;
}

.comments ul li .detail {
    margin-left: 75px;
	position: relative;
}

.comments ul li .detail:last-child {
	padding-bottom: 0;
}

.comments ul li .detail .username {
    display: inline-block;
    font-weight: 700;
    line-height: 100%;
    margin: 0;
}

.comments ul li .detail .meta {
	float: none;
	clear: none;
	font-size: .85em;
    line-height: 100%;
	opacity: .6;
	margin-bottom: 0;
}

.comments ul li .detail p {
	clear: both;
	margin-bottom: 20px;
}

.comments ul li .detail p:last-child {
	margin-bottom: 0;
}

li.comment.bypostauthor > .detail {
}

li.comment ul.children {
	margin: 20px 0 0 75px;
}

a.comment-reply-link {
	background: #eee;
	font-family: Lato, Helvetica, Arial;
	color: #999;
	letter-spacing: 1px;
	margin-bottom: 20px;
	padding: 0 5px;
	position: absolute;
	top: 0;
	right: 0;
}

a#cancel-comment-reply-link {
	margin-left: 20px;
	position: relative;
	top: -2px;
}

a#cancel-comment-reply-link:before {
	content: '\e057';
	font-family: 'typicons';
	font-size: 16px;
	margin-right: 5px;
}

.comment-waiting p {
	font-size: .95em;
	color: #ff0000;
}

.comment-head {
    margin-bottom: 10px;
}

.comments ul li .detail .postmeta {
    display: inline-block;
}

.comments ul li {
	list-style: none;
    margin-bottom: 20px;
}

.comments ul li ul {
	float: left;
	clear: both;
    margin-left: 40px;
    margin-top: 50px;
	padding: 0;
}

.comments ul.children li:last-child {
	margin-bottom: 0;
}

.comments ul.children .detail:last-child {
	padding-bottom: 0;
}

/* Comments */
.comments ul li.pingback .detail,
.comments ul li.trackback .detail,
.comments ul li.pingback .meta,
.comments ul li.trackback .meta {
	margin-left: 0;
}

.logged-in-as { 
	margin-bottom : 20px;
}

.comment-form {
	width: 100%;
	margin-top: 30px;
}

#comments {
	margin-bottom: 60px;
}

#comments h4.widget-title {
	margin: 0 0 40px 0;
}

#comments .comment-form {
	margin-bottom: 50px;
}

p.form-submit {
	margin-top: 20px;
}

#reply-title small {
	font-size: 12px;
	font-weight: normal;
}

.comment-reply-link {
	display: inline-block;
	margin-top: 10px;
	font-size: 10px;
	text-transform: uppercase;
}

#respond {
	float: left;
	clear: both;
	width: 100%;
}

#respond .input-holder {
	display: block;
	margin-bottom: 30px;
	width: 50%;
	position: relative;
}

#respond .input-holder.textarea {
	width: 100%;
}

#respond .input-holder.textarea textarea {
	min-height: 170px;
}

#respond .input-holder input,
#respond .input-holder textarea {
	margin: 0;
}

.required {
	position: absolute;
	color: red;
	top: 10px;
	right: 10px;
}

/**
 * 5.4 History Timeline
 * ----------------------------------------------------------------------------
 */

 .page.timeline-page {
	padding-bottom: 0;
}

.history {
	position: relative;
	overflow: hidden;
}

.timeline-page .container {
	max-width: 900px;
}

.full-width-content.timeline {
	position: relative;
	margin-top: -70px;
	padding: 0 0 100px 0;
}

.timeline:before {
	background: #eee;
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	bottom: 0;
	width: 6px;
	margin-left: -3px;
}

.timeline ul {
	margin: 0;
	padding: 70px 0 0 0;
}

.timeline ul li {
	width: 50%;
	list-style: none;
	padding: 0 3%;
	position: relative;
}

.timeline ul li.odd {
	float: left;
	clear: left;
}

.timeline ul li.odd:before {
	right: -12px;
}

.timeline ul li:before {
	background: #fff;
	font-family: "FontAwesome";
	content: "\f017";
	width: 24px;
	height: 24px;
	color: #ddd;
	line-height: 160%;
	position: absolute;
	text-align: center;
	margin-top: 15px;
}

.timeline ul li.even {
	float: right;
	clear: right;
}

.timeline ul li.even:before {
	left: -12px;
}

.timeline ul > li {
	margin-top: 60px;
}

.timeline ul > li:nth-child(2) {
	margin-top: 150px;
}

.timeline .meta {
	text-align: right;
	margin-bottom: 5px;
}

.timeline .meta i.fa {
	font-size: 12px;
	margin-right: 2px;
}

.timeline .meta span {
	margin-right: 0;
	margin-left: 15px;
}

.timeline ul li.even .meta {
	text-align: left;
}

.timeline ul li.even .meta span {
	margin-right: 10px;
	margin-left: 0;
}

.timeline article.type-history {
	background: #fff;
	border: none;
}

.timeline article.type-history .post-wrapper {
	padding: 20px 0 0 0;
	border: none !important;
	border-top: none !important;
	margin-top: -6px;
	border-radius: 5px;
}

.timeline article.type-history .post-wrapper p {
	font-size: .95em;
}

.moment .post-title {
	font-size: 13px !important;
	font-weight: 400 !important;
	text-transform: uppercase;
	margin: 0 0 15px 0 !important;
}

/* -----------------------------------
    6.0 - Widgets 
-----------------------------------*/

.home-widget {
	padding: 70px 0;
	border-bottom: 1px dashed #ccc;
	position: relative;
}

#main-slider {
	border-bottom: none;
}

#main-slider:after {
	display: none;
}

.section-title {
	text-align: center;
	margin-bottom: 60px;
}

.section-title .icon {
	font-size: 36px;
	color: #edc037;
	margin-bottom: 20px;
	display: block;
}

.section-title h3 {
	font-size: 30px;
	font-family: 'Antic Didone', Helvetica, Arial;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #464545;
	margin-bottom: 20px;
	font-weight: 700;
}

.home-gallery .section-title h3,
.home-blog .section-title h3,
.home-gallery .section-title .icon,
.home-blog .section-title .icon {
	margin-bottom: 10px;
}

/*.page .section-title {
    padding: 100px 0 60px 0;
    margin-bottom: 40px;
}*/

.section-title.black h3 {
	color: #edc037;
}

/*.page .section-title h3,
.page .section-title .section-subtitle{
	color: #fff;
}*/

/*.page .section-title .section-subtitle:after,
.page .section-title .section-subtitle:before {
	background: #fff;
}*/

.section-title .section-subtitle {
	font-size: 16px;
	font-family: "Antic Didone";
	font-style: italic !important;
	color: #aaa;
	display: inline-block;
	position: relative;
}

.section-title .section-subtitle:after,
.section-title .section-subtitle:before {
	content: '';
	background: #aaa;
	height: 1px;
	width: 120px;
	display: inline-block;
	position: absolute;
	top: 50%;
	margin: 0 20px;
}

.section-title .section-subtitle:after {
	left: 100%;
}

.section-title .section-subtitle:before {
	right: 100%;
}

ul.grid {
	float: left;
	clear: both;
	width: 100%;
	margin: 0;
}

.home-widget.home-gallery .section-title .section-subtitle:after, 
.home-widget.home-gallery .section-title .section-subtitle:before,
.home-widget.home-blog .section-title .section-subtitle:after, 
.home-widget.home-blog .section-title .section-subtitle:before {
	width: 30px;
	margin: 0 10px;
}

.home-widget.home-gallery .section-title p,
.home-widget.home-blog .section-title p {
	padding: 0 30px;
	color: #edc037;
	margin-top: 20px;
}

.section-text {
	max-width: 690px;
	text-align: center;
	margin: 0 auto 60px auto;
}


/**
 * 6.1 About Couple
 * ----------------------------------------------------------------------------
 */

#about-couple {
	position: relative;
	z-index: 100;
}

#couple {
	text-align: center;
}

#couple ul {
	margin: 0;
}

#couple ul li {
	display: inline-block;
    width: 46%;
    list-style: none;
    margin: 0 40px 0 0;
    text-align: center;
    border-radius: 10px;
}

#couple ul li:last-child {
	margin-right: 0;
}

#couple ul li .thumbnail {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    overflow: hidden;
    margin-top: -140px;
}

#couple ul li .detail {
    width: 100%;
    text-align: center;
    padding: 10px 0 20px 0;
}

#couple ul li .detail .name,
.moment .post-title {
    font: 700 20px/100% Lato, Helvetica, Arial;
    color: #414141;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 0;
}

#couple ul li .detail .term {
    font: 400 11px/100% Lato, Helvetica, Arial;
    color: #999;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.social {
    display: inline-block;
    border-top: 1px solid #eee;
    padding-top: 25px;
}

.social a {
	font-size: 24px;
    padding: 0 5px;
    color: #c9c9c9;
    display: inline-block;
	border-radius: 5px;
	transition: all ease-in .3s;
}

.social a:hover {
	color: #555;
}

/**
 * 6.2 Countdown
 * ----------------------------------------------------------------------------
 */

 .home-countdown {
	padding: 0;
}

#countdown-widget {
	padding: 70px 0;
}

#countdown-container.home-widget {
	background: #151515;
	padding: 0;
	position: relative;
}

#countdown-container .section-title {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	padding: 0 40px;
	width: 200px;
	margin-bottom: 0;
}

#countdown {
	text-align: center;
}

#countdown .number-container {
    display: inline-block;
    width: 10%;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.1em;
    margin-right: 2%;
}

#countdown .number-container:last-child {
    margin-right: 0;
}

#countdown .number-container .number {
    width: 100%;
    display: inline-block;
    font-size: 50px;
    font-weight: 700 !important;
    text-align: center;
    padding: 20%;
    border: 1px solid #999;
    border-radius: 5px;
    line-height: 1;
    box-shadow: 0 1px 5px 0 #ccc;
}

#countdown .number-container .text {
	font-size: 11px;
    font-weight: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 10px;
}

/**
 * 6.3 Gallery
 * ----------------------------------------------------------------------------
 */

 .filters {
    text-align: center;
    margin-bottom: 60px;
}

.friends .filters a.filter {
    color: #aaa;
    border-bottom: solid 1px #ccc;
}

a.filter {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 20px;
	text-transform: uppercase;
	color: #414141;
    float: left;
    cursor: pointer;
    color: #151515;
}

.friends .filters a.filter.active {
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #fff;
    margin-top: -1px;
    color: #222;
}

a.filter.active {
	border-bottom: solid 1px #ccc;
}

.filter-holder {
	display: inline-block;
}

ul.gallery li {
	list-style: none;
	display: none;
}

ul.gallery li .thumbnail {
	margin-bottom: 0 !important;
}

section#friends-widget {
    padding: 0;
}

.friends ul {
	list-style-type: none;
	display: block;
}

.friends ul:after {
	display: inline-block;
	width: 100%;
}

.friends ul li {
	display: inline-block;
	width: 20%;
	list-style: none;
	margin: 0 0 20px 0;
	display: none;
	text-align: center;
	float: left;
	padding: 0 2%;
}

.friends ul li .thumbnail {
    display: inline-block;
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 4px 6px 0 #ddd;
    overflow: hidden;
    max-width: 150px;
    max-height: 150px;
}

.friends ul li h3.name {
	font-weight: 400;
	text-align: center;
}

.friends ul li:nth-child(5n+5),
.posts-grid ul li:nth-child(3n+3),
#gallery-page.page .gallery li:nth-child(3n+3) {
	margin-right: 0;
}

.overlay {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(26,26,26,0.6);
    color: #fff;
    padding: 30px;
    text-align: center;
}

.friends ul li .overlay .name {
    display: block;
    font-family: "Roboto";
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
}

.friends ul li .overlay .terms {
    display: block;
    font-family: "PT serif";
    font-style: italic;
    color: #eee;
}

.home-widget.home-gallery,
.home-widget.home-blog {
	background: #eee;
	border: none;
	padding: 0;
}

.home-widget.home-gallery .section-title,
.home-widget.home-blog .section-title {
    width: 25%;
    height: 396px;
	background: #151515;
    position: absolute;
    bottom: 50%;
    left: 0;
    top: 0;
    z-index: 2;
    margin-bottom: 0;
}

.home-widget.home-gallery .section-title h3,
.home-widget.home-blog .section-title h3 {
	font-size: 25px;
	color: #edc037;
}

.gallery li .gallery-tools {
	position: relative;
	top: 20px;
}

.gallery .overlay a.action {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: rgba(0,0,0,.5);
	font-size: 22px;
	padding: 8px;
	transition: all ease-in .3s;
	line-height: 100%;
	border-radius: 50%;
}

.gallery .overlay a.action {
	color: #edc037;
}

.gallery .overlay a.action:hover {
	color: #fff;
}

.gallery .overlay {
	font-size: 18px;
	font-style: italic;
}

.gallery .overlay h2,
.overlay h2 {
	font-weight: normal;
	margin-top: 10px;
}

.gallery .overlay h2 a,
.overlay h2 a {
	color: #fff;
}

.gallery.detail li h2 {
	font: 300 16px "PT Serif";
	margin-top: 20px;
	font-style: italic;
	text-align: center;
}

.post-detail {
	margin-bottom: 40px;
}


/**
 * 6.4 Events, Blog Grid & Accomodations
 * ----------------------------------------------------------------------------
 */



ul.gallery.grid li,
ul.grid li {
	width: 25%;
	float: left;
	list-style: none;
	margin-bottom: 0;
	display: inline-block;
}

.posts-grid ul li {
    float: left;
    width: 30%;
    text-align: left;
    list-style: none;
    margin: 0 3% 3% 0;
}

.posts-grid ul li:nth-child(3n+3) {
	margin-right: 0;
}

.tax-gallery ul.gallery.grid li,
.index-blog ul.grid li {
	width: 32%;
	margin: 0 1% 1% 0;
}

ul.gallery.grid li:first-child,
ul.grid li:first-child {
	margin-left: 25%;
}

.tax-gallery ul.gallery.grid li:first-child,
.index-blog ul.grid li:first-child {
	margin-left: 0 !important;
}

.address {
	float: left;
	clear: both;
	width: 100%;
	font-size: 14px;
	color: #999;
	margin: 10px 0 0 0;
}

.address h4 {
	margin-bottom: 0 !important;
}

.grid li h2,
.blog-post .detail h2 {
	display: block;
	font: 400 18px Lato, Helvetica, Arial;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

body.single-event article.type-event .post-content {
}

.widget-single-accommodation ul {
	margin: 0;
}

.widget-single-accommodation ul li {
	float: left !important;
	clear: both;
	width: 100%;
	margin-bottom: 20px !important;
}

.widget-single-accommodation .posts-grid ul li .thumbnail {
	margin-bottom: 0;
}

.widget-single-accommodation .posts-grid ul li h3 {
	margin-top: 10px;
}


/**
 * 6.4 Testimonials
 * ----------------------------------------------------------------------------
 */

 #testimonial-widget {
	background: #fff;
}

#testimonial-widget .container {
	padding: 0 40px;
}

#testimonial-widget .section-title .section-subtitle:after, 
#testimonial-widget .section-title .section-subtitle:before {
	background: #464545;
}

#testimonial-widget {
	text-align: center;
}

/**
 * 6.5 Guestbook
 * ----------------------------------------------------------------------------
 */

#guestbook {
	margin: 0 auto;
	text-align: center;
	position: relative;
	overflow: hidden;
}

#guestbook .owl-wrapper-outer {
	padding-top: 90px;
}

#guestbook .owl-item {
	text-align: left;
	padding: 0 25px;
}

#guestbook .detail {
	margin-bottom: 20px;
}

#guestbook .guestbook .thumbnail {
	float: left;
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
    border-radius: 50%;
    overflow: hidden;
}

#guestbook .guestbook .name {
	float: left;
	width: 70%;
}

#guestbook .guestbook-content {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 20px;
}

#guestbook .guestbook blockquote {
	margin: 0;
	padding: 0;
}

#guestbook .guestbook cite {
	display: block;
	font-size: 16px;
	font-style: normal;
	color: #bf360c;
	letter-spacing: 0;
	line-height: 110%;
	letter-spacing: 1px;
}

#guestbook .guestbook .relation {
	font-size: .85em;
	line-height: 100%;
	opacity: .6;
}

#guestbook .guestbook span.lquote,
#guestbook .guestbook span.rquote {
	font-size: 16px;
	font-weight: 700;
}

#guestbook .owl-controls {
	font-size: 32px;
}

#guestbook .owl-controls .owl-prev,
#guestbook .owl-controls .owl-next {
	color: #999;
	padding: 5px 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#guestbook .owl-controls .owl-prev:hover,
#guestbook .owl-controls .owl-next:hover {
	color: #555;
}

#guestbook .owl-controls .owl-prev {
	left: -30px;
}

#guestbook .owl-controls .owl-next {
	right: -30px;
}

#guestbook .owl-controls .owl-prev:before {
	content: '\e047';
	font-family: 'typicons';
}

#guestbook .owl-controls .owl-next:before {
	content: '\e049';
	font-family: 'typicons';
}

.home-guestbook p.view-all {
	text-align: center;
	margin: 30px auto;
}

.home-guestbook p.view-all a.btn {
	padding: 10px 20px;
}

/**
 * 6.6 RSVP
 * ----------------------------------------------------------------------------
 */

 .home-widget.home-map {
	padding: 0;
}

section:last-child {
	border-bottom: none;
}

#map-wrapper {
	height: 500px;
}

#map-wrapper .map-thumbnail,
#map-wrapper .map-detail {
    display: inline-block;
    vertical-align: top;
}

#map-wrapper .map-detail {
    width: 200px;
    margin-left: 10px;
    line-height: 1.4em;
}

/* RSVP Widget */
.home-rsvp {
	padding: 0;
}

#rsvp-widget {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 70px 0;
}

#rsvp-widget .section-title h3 {
	color: #fff;
}

#rsvp-widget .section-title .section-subtitle:before,
#rsvp-widget .section-title .section-subtitle:after {
	background: #ccc;
}

#rsvp-widget .section-title .section-subtitle {
	color: #ccc;
}

.rsvp-holder {
	display: inline-block;
	width: 50%;
	position: relative;
}

.rsvp-holder form {
	width: 100%;
	background: #fff;
	padding: 30px;
}

.rsvp-holder form p {
	margin-bottom: 15px;
	text-align: left;
}

.rsvp-holder form p.submit-rsvp, p.submit-contact { text-align: center; }

.rsvp-holder form .form-control {
}

.rsvp-holder form select {
	width: 100%;
}

.rsvp-holder form select.form-control {
	line-height: 34px;
	height: 34px;
	padding-top: 6px;
}

.rsvp-holder form input.btn {
	margin-top: 15px;
}

.text-rsvp {
	float: right;
	width: 47%;
	padding-top: 17px;
}

.rsvp-holder .rsvp {
	padding: 30px;
	color: #fff;
	text-align: center;
	border: 1px solid #00796B;
	position: relative;
}

.rsvp-holder .rsvp:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border: solid 1px #4DB6AC;
	width: 100%;
	/* padding-bottom: 12px; */
	min-height: 100%;
}

.rsvp-holder form {
	position: relative;
	z-index: 100;
}

.rsvp-holder .rsvp input,
.rsvp-holder .rsvp select {
	margin-bottom: 20px;
}

.rsvp-holder .rsvp select {
	width: 100%;
}

.rsvp-holder .rsvp input.button {
	width: 100%;
	background: #cddc39;
	border: solid 2px #cddc39;
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
	padding: 20px 60px;
	margin-bottom: 0;
	color: #9E9D24;
	text-transform: uppercase;
	margin-top: 20px;
}

.rsvp-holder .rsvp input.button:hover {
	opacity: .9;
}

/* Contact Form 7 Styles */
.rsvp-holder span.wpcf7-form-control-wrap {
	width: 100%;
	text-align: left;
}

.rsvp-holder span.wpcf7-list-item {
	display: block;
	margin-left: 0;
}


/**
 * 6.6 Couple tweets
 * ----------------------------------------------------------------------------
 */

 .home-couple-tweets {
	text-align: center;
}

.home-couple-tweets .tweet-account {
	text-align: left;
	margin-bottom: 40px;
}

.home-couple-tweets .tweet-account .thumbnail {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.home-couple-tweets .tweet-account h2 {
	font-size: 20px;
	letter-spacing: normal;
	margin-bottom: 5px;
}

.home-couple-tweets .tweet-account .account-name {
	font-style: italic !important;
	color: #aaa;
}

.home-couple-tweets .tweets {
	display: inline-block;
	width: 35%;
	margin: 0 3%;
	vertical-align: top;

}

.tweets ul {
	margin: 0;
}

.tweets ul li {
	float: left;
	clear: both;
	width: 100%;
	list-style: none;
	text-align: left;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.tweets ul li p {
	margin-bottom: 0;
}

.tweets ul li a {
	color: #bf360c;
}

.ul-tweets .meta span {
	display: inline-block;
	margin: 0;
}

.home-couple-tweets .tweets ul li span.postmeta a {
	color: #666;
	font-weight: normal;
}

.tweet-btn {
	display: none;
}

/**
 * 6.7 Other Widgets
 * ----------------------------------------------------------------------------
 */

/* Default Widget Styles */
.widget ul,
.widget_archive ul,
.widget_categories ul,
.widget_pages ul,
.widget_rss ul,
.widget_meta ul,
.widget_nav_menu ul,
.widget_recent_comments ul,
.widget_recent_entries ul {
    margin: 0 !important;
}

.widget ul li,
.widget_archive ul li,
.widget_categories ul li,
.widget_pages ul li,
.widget_rss ul li,
.widget_meta ul li,
.widget_nav_menu ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li {
    list-style: none;
    margin: 0 0 20px 0;
}

.widget_archive ul a,
.widget_categories ul a,
.widget_pages ul a,
.widget_rss ul a,
.widget_meta ul a,
.widget_nav_menu ul a,
.widget_recent_entries ul a {
    display: inline-block;
    width: 85%;
}

#recentcomments li.recentcomments,
.widget_recent_entries ul li,
.widget_pages ul li,
.widget_categories ul li,
.widget_nav_menu ul li {
	float: left;
	clear: both;
	width: 100%;
	line-height: 180%;
	position: relative;
	padding-left: 20px;
}

.warrior_popular_posts .article-list li {
}

.widget_recent_comments li.recentcomments:before,
.widget_recent_entries ul li:before,
.widget_pages ul li:before,
.widget_categories ul li:before,
.widget_nav_menu ul li:before {
	display: inline-block;
	content: '\e0b0';
	font-family: 'typicons';
	font-size: 16px;
	color: #999;
	position: absolute;
	left: 0;
	top: 1px;
}

.widget_recent_comments li.recentcomments:before {
	content: '\e0b8';
}

.widget_pages ul li:before,
.widget_categories ul li:before,
.widget_nav_menu ul li:before {
	content: '\e0b0';
}

.widget.category ul li a {
	padding-bottom: 10px;
	display: block;
}

.widget.category ul li a span {
    font: bold 10px "PT sans";
    background: #151515;
    color: #fff;
    border-radius: 2px;
    margin-left: 10px;
    display: inline-block;
}


/* Search */
.widget.search {
	background: #fff;
}

.widget.search div {
	padding: 5px 10px;
	border: solid 1px #ccc;
	position: relative;
}

.widget.search input {
	border: 0;
}

.widget.search input[type="text"] {
	width: 100%;
	padding: 0;
	margin: 0;
}

.widget.search input.searchbutton {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 50px;
	right: 0;
	margin: 0;
	background: url('images/search.png') no-repeat center;
	text-indent: 9999px;
	cursor: pointer;
}

.widget.category ul li a span strong {
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
}

.widget.category ul li a:hover > span {
	background: #edc307;
}

/* Recent Posts */
#rightcontent .widget.recent ul li {
	margin-bottom: 30px;
	min-height: 70px;
}

.widget.recent ul li .thumbnail {
	float: left;
	width: 70px;
	height: 70px;
	margin-bottom: 0;
}

.widget.recent ul li .detail {
	margin-left: 90px;
	display: block;
}

.widget.recent ul li .detail h2.post-title {
	margin-bottom: 10px;
	font: 14px "Roboto";
	font-weight: 900;
	letter-spacing: 0;
	text-transform: uppercase;
}

#rightcontent .widget.tweets ul li {
	margin-bottom: 30px;
}

.tweets ul li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

#rightcontent .widget.tweets ul li p {
	margin-bottom: 0;
}

/* Tags */
.tags ul li {
	list-style: none;
    display: inline-block !important;
    margin-right: 10px !important;
    margin-bottom: 13px;
    width: auto !important;
}

.tags ul li a {
    display: block;
    padding: 5px 5px;
    border: solid 1px #ccc;
}

#rightcontent .widget {
	margin-bottom: 40px;
}

.widget .heading {
	margin-bottom: 20px;
}

.sidebar-heading,
.widget-title,
.comment-reply-title {
	font: 16px 'Antic Didone', Georgia, 'Times New Roman', serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 1px solid #999;
}

.sidebar-heading,
.widget-title,
.comment-reply-title {
}

.sidebar-heading span,
.widget-title span,
.comment-reply-title span {
	position: relative;
	padding: 0 20px 10px 0;
	display: inline-block;
}

.sidebar-heading span:after, 
.widget-title span:after,
.comment-reply-title span:after {
	content: '';
	width: 50px;
	height: 3px;
	position: absolute;
	right: 0;
	background: #edc037;
	bottom: -1px;
	left: 0;
}

#leftcontent .blog-post {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 60px;
}

#leftcontent .blog-post.single .thumbnail {
	float: none;
	display: block;
	margin: 0 0 40px 0;
	width: 100%;
}

body.single #leftcontent .blog-post {
	margin-bottom: 0;
}

.blog-post .detail {
	
}

.blog-post .detail .meta {
	margin-bottom: 20px;
}

#rightcontent .widget ul li {
	width: 100%;
	margin-bottom: 10px;
	float: none;
}

/* -----------------------------------
    7.0 - Forms
-----------------------------------*/

form.wpcf7-form  p > label,
form.wpcf7-form .wpcf7-not-valid-tip {
	font-size: .8em;
	font-weight: 700;
	line-height: 120%;
}

form.wpcf7-form .wpcf7-not-valid-tip {
	margin-top: 7px;
}

.rsvp-holder .wpcf7-checkbox .wpcf7-list-item {
	display: inline-block;
	width: 100%;
}

form.wpcf7-form .wpcf7-response-output {
	font-size: .9em;
	font-weight: 700;
	color: #fff;
	line-height: 140%;
	border: none !important;
	padding: 10px !important;
}

form.wpcf7-form .wpcf7-response-output:before {
	float: left;
	width: 30px;
	height: 30px;
	content: '\f071';
	font-family: 'FontAwesome';
	font-size: 24px;
	margin: 9px 7px;
}

form.wpcf7-form .wpcf7-validation-errors {
	background: #f20303 !important;
}

form.wpcf7-form .wpcf7-mail-sent-ok {
	background: #4a8d03 !important;
}

.form-control, 
form input[type="text"], 
form input[type="password"], 
form input[type="email"], 
.widget_archive select, 
.widget_categories select {
	display: block;
	width: 100%;
	height: 34px;
	padding: 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control::-moz-placeholder {
	color: #777;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
 	color: #777;
}

.form-control::-webkit-input-placeholder {
 	color: #777;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}

textarea.form-control {
 	min-height: 130px;
}

textarea { 
	display: block;
	width: 100%;
	height: 220px;
	padding: 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
}

input[type="search"] {
	-webkit-appearance: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
	line-height: 34px;
	line-height: 1.42857143 \0;
}

input[type="date"].input-sm,
input[type="time"].input-sm,
input[type="datetime-local"].input-sm,
input[type="month"].input-sm {
	line-height: 30px;
}

input[type="date"].input-lg,
input[type="time"].input-lg,
input[type="datetime-local"].input-lg,
input[type="month"].input-lg {
	line-height: 46px;
}

button,
input[type="submit"] {
	background: #dec307;
	color: #fff;
	letter-spacing: 2px;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
}

button:hover,
input[type="submit"]:hover {
	background: #ffb300;
}

form.post-password-form input[type="submit"] { margin-top:10px; }


/* -----------------------------------
    8.0 - Footer
-----------------------------------*/

footer#footer {
	background: #212121;
	color: #fff;
	text-align: center;
	margin-top: 60px;
	padding: 40px 0;
	overflow: hidden;
}

.home.page footer#footer {
	margin-top: 0;
}

footer#footer span.author {
	float: right;
}

#footer .couple-name {
	font-size: 22px;
	letter-spacing: 1px;
	margin: 0 0 5px 0;
}

#footer .couple-name .typcn {
	color: #edc307;
}

#footer .copyright {
	color: #ccc;
	margin: 0;
}


/* -----------------------------------
    9.0 Standard WordPress Styles 
-----------------------------------*/
/* Post */
.aligncenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

/* Image */
.hentry img {
    height: auto;
}

img.size-full {
}

img.alignnone {
    display: inline;
}

img.alignright {
    display: inline;
    margin-left: 20px;
    margin-bottom: 20px;
}

img.alignleft {
    display: inline;
    margin-right: 20px;
    margin-bottom: 20px;
}

img.aligncenter  {
    display: block;
    margin: 0 auto;
}

div.alignnone {
    margin: 0 0 20px 0;
}

div.alignleft {
    margin: 0 20px 20px 0;
}

div.alignright {
    margin: 0 0 20px 20px;
}

div.aligncenter {
    margin: 20px auto;
}

ul.sub-menu {
    margin-bottom: 0;
}

.gallery { 
	margin: 0 auto 18px; 
}

.post-content .gallery {
    margin: 20px auto !important;
}

.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}

.gallery-columns-1 .gallery-item {
	margin-bottom: 20px;
}

.gallery-columns-2 .gallery-item { 
	width: 49% !important;
	margin: 0 1% 1% 0; 
}

.gallery-columns-3 .gallery-item { 
	width: 32% !important;
	margin: 0 1% 1% 0;
}

.gallery-columns-4 .gallery-item {
	width: 24% !important;
	margin: 0 1% 1% 0;
}

.gallery img {
	cursor: zoom-in;
	border: none !important;
}

.gallery img:hover {
	background: white;
}

.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}

.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}

.gallery .gallery-caption {
	color: #888;
	font-size: 13px;
	margin: 0;
}

.gallery dl, .gallery dt { 
	margin: 0; 
}

.gallery br+br { 
	display: none; 
}

.gallery-caption,
.entry-caption {
	float: left;
	clear: both;
	width: 100%;
	font-size: .8em;
    line-height: 120%;
    margin-top: 2px;
}

.wp-caption {
    max-width: 100%;
    color: #aaa;
    font-size: 11px;
    line-height: 14px;
    margin: 0 0 1em;
    padding: 0;
}

.wp-caption img {
}

.wp-caption p.wp-caption-text {
    clear: both;
    font-size: 14px;
    font-style: normal;
    margin: 5px 0 0 0;
}

.sticky {}
.bypostauthor {}

/* ZillaShortcodes Styles */
.zilla-tabs .zilla-nav li a {
	font-size: .8em;
	font-weight: 700;
	height: 35px !important;
}

.zilla-tabs .zilla-nav .ui-tabs-selected a, 
.zilla-tabs .zilla-nav .ui-tabs-active a {
	height: 35px !important;
}

h3.hndle { display: none; }

/* Parallax */

.parallax-window {
	background: transparent !important;
}

img.parallax-slider {
	max-width: inherit !important;
}

