/*Box and Full Layout CSS*/

@media screen and (min-width: 1200px) {
    .layout-boxed {
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center center;
    }

    .layout-boxed.page-wrapper {
        max-width: 1250px;
        margin: 0px auto 0;
    }

    #event .ceromony-content p {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

@media (max-width: 1366px) and (min-width: 992px) {
    .service-area-menu li a {
        padding: 12px 60px;
    }

    #event .ceromony-content h3 {
        font-size: 25px;
        margin-top: 10px;
    }

    #event .ceromony-content p {
        padding-top: 15px;
    }

    .count-down-section .section-area h2 {
        font-size: 40px;
        padding: 21.25px 29px;
    }

   .event-img img {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 991.98px) and (min-width: 768px) {

    .couple-img {
        width: 60%;
        margin: auto;
    }

    .couple-area-2 .couple-img {
        width: 100%;
    }

    .couple-shape {
        width: 100%;
        text-align: center;
        margin-top: 35px;
    }

    .couple-area-2 .couple-shape {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .couple-area-2 .couple-item .couple-single .couple-shape img {
        padding: 0px;
    }

    .couple-item .couple-single .couple-shape img {
        padding: 35px 0px;
    }

    .story .item:not(:first-child) {
        padding-bottom: 200px;
    }

    #event .ceromony-content p {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .ceromony-img img {
        width: 100%;
    }

    .ceromony-content {
        padding-left: 25px;
        padding-bottom: 25px;
    }

    .service-area-menu li a {
        padding: 12px 30px;
    }

    .story .item .story-content {
        padding: 15px;
    }

    .couple-area-2 .couple-single {
        width: 70%;
        margin: auto;
        float: none;
    }

    .owl-carousel .owl-item img {
        width: auto;
    }

    .count-down-section .section-area {
        padding-right: 19px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .count-down-section .section-area h2 {
        font-size: 40px;
        padding: 21.25px 29px;
        display: block;
    }

    .event-img img {
        height: auto;
        width: 100%;
    }

    .single-event .event-content {
        padding: 35px;
        padding-top: 10px;
    }

    .event-area .single-event:nth-child(2) {
        padding-left: 0px;
    }
}

@media (max-width: 450px) {

    .couple-area-2 .couple-single {
        width: 100%;
        margin: auto;
    }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {

    .story-icon,
    .story-top,
    .story-bottom,
    .story .content-wrapper::before {
        left: 35px
    }

    .story .item {
        width: 100%
    }

    .story .item .story-content,
    .story .item:nth-child(even) .story-content {
        width: calc(100vw - 140px);
        margin-left: 80px;
    }

    .story .story-content h2 {
        font-size: 34px;
    }

    .lavelo-title h2,
    .contact-title h2 {
        font-size: 40px;
    }

    .fortfolio-filter button {
        font-size: 18px;
        margin-right: 0px;
        margin-bottom: 5px;
    }

    .guest-wrap {
        padding: 30px;
    }

    .story .item:nth-child(odd) {
        float: none;
    }

    .story .item:nth-child(even) {
        float: none;
    }

    .story .item:not(:first-child) {
        margin-top: 30px;
    }

    .story .item:nth-child(even) .story-icon {
        right: auto;
        left: 35px;
    }

    .item:nth-child(odd) .story-content::before,
    .item:nth-child(odd) .story-content::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 100%;
        left: -30px;
        margin-top: -7px;
        border: 15px solid transparent;
        border-color: transparent;
        border-right-color: #f7f7f7;
    }

    .item:nth-child(odd) .story-content::after {
        margin-top: -4px;
        border: 12px solid transparent;
        border-right-color: #FFF;
        border-left: 0
    }

    .item:nth-child(odd) .story-content:hover:after {
        border-right-color: #fff7f7;
        border-left: 0
    }

    .couple-img {
        width: 60%;
        margin: auto;
    }

    .couple-area-2 .couple-img {
        width: 100%;
    }

    .couple-shape {
        width: 100%;
        text-align: center;
        margin-top: 16px;
        padding-top: 0;
        margin-bottom: 16px;
    }

    .story .item .story-content {
        padding: 15px;
    }

    .couple-item .couple-single .couple-shape img {
        padding: 20px 0px;
    }

    .ceromony-img img {
        width: 100%;
    }

    .ceromony-content {
        padding-left: 25px;
        padding-bottom: 25px;
    }

    .service-area-menu li a {
        padding: 12px 30px;
    }

    .service-area-menu ul li {
        float: none;
        display: block;
    }

    .couple-area-2 .couple-single {
        width: 90%;
        margin: auto;
    }

    .page-wrapper .couple-area-2 .couple-content p {
        padding: 0px 15px;
    }

    .couple-area-2 .couple-shape:before,
    .couple-area-2 .couple-shape:after {
        content: none;
    }

    .couple-area-2 .couple-item .couple-single .couple-shape img {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .coundown-style-one .section-area h2 {
        font-size: 50px;
    }

    .owl-carousel .owl-item img {
        width: auto;
    }

    .person-img img {
        width: 100%;
    }

    .count-down-section .section-area h2 {
        font-size: 30px;
        display: block;
    }

    .count-down-section .section-area {
        padding-right: 19px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .count-down-section #clock>div+div {
        margin-left: 0px;
    }

    .hart-wrap {
        margin-left: -27px;
    }

    .site-logo h2 {
        font-size: 29px;
    }

    .person-area.person-area2 .person-btn ul li a {
        padding: 4px 16px;
        display: block;
        font-size: 30px;
    }

    .single-event .event-content {
        padding: 35px;
        padding-top: 10px;
    }

    .event-area .single-event:nth-child(2) {
        padding-left: 0px;
    }

    .footer-content .content-sub h2 {
        font-size: 35px;
    }

    .content-sub span {
        font-size: 23px;
    }

    .single-event .event-content h2 {
        font-size: 25px;
    }

    .single-event .event-content span {
        font-size: 17px;
    }
}