<style>
		@-webkit-keyframes mymove {
			0% {
				bottom: -160px;
			}

			50% {
				bottom: 50px;
			}

			100% {
				bottom: 0px;
			}
		}

		@keyframes mymove {
			0% {
				bottom: -160px;
			}

			50% {
				bottom: 50px;
			}

			100% {
				bottom: 0px;
			}
		}

		@font-face {
			font-family: Cushy;
			src: url(../Cushy.otf);
		}

		.whatsapp-popup {
			width: 255px;
			z-index: 20000 !important ;
			
			background: #fff;
			bottom: -160px;
			position: fixed;
			right: 0px;
			margin: 50px;
			border-radius: 13px;
			padding: 12px;
			box-shadow: 0px 0px 3px 0px #b5b5b5;
			-webkit-animation: mymove 5s;
			/* Safari 4.0 - 8.0 */
			-webkit-animation-delay: 12s;
			/* Safari 4.0 - 8.0 */
			animation: mymove 5s;
			animation-delay: 12s;
			animation-fill-mode: forwards;
		}
		.whatsapp-popup:after{
			content: "";
			width: 21px;
			height: 21px;
			position: absolute;
			background: #fff;
			transform: rotate(45deg);
			bottom: -10px;
			right: 33px;
			box-shadow: 1px 1px #0000001c;
		}

		.whatsapp-popup:hover {
			cursor: pointer;
		}

		.top-text {
			font-size: 13px;
			margin: 0px;
			font-weight: bold;
			text-align: center;
			font-family: Poppins, Georgia, serif !important;
			color: #403e3e;
		}

		.close-btn {
			float: right;
			cursor: pointer;
		}

		.close-btn>g>path:hover {
			fill: #000 !important;
		}

		.notify-content {
			display: flex;
			justify-content: center;
			align-items: baseline;
			cursor: pointer;
		}

		.content-text {
			font-size: 43px;
			margin: 0px;
			font-weight: bold;
			line-height: 60px;
			padding: 0 4px 0 0 !important;
			font-family: Cushy !important;
			color: #403e3e;
		}

		.sec-color {
			color: #1EB650;
		}

		.whatsapp-icon-btn {
			width: 45px;
			height: 45px;
			fill: #1EB650;
		}

		@media only screen and (max-width:768px) {
			.whatsapp-popup {
				width: 195px;
				
				margin: 25px;
			}

			.top-text {
				font-size: 10px;
				margin: 0px;
				line-height: 16px !important;
			}

			.close-btn {
				width: 9px;
				height: 9px;
			}

			.whatsapp-icon-btn {
				width: 35px;
				height: 35px;
			}

			.content-text {
				font-size: 32px;
				line-height: 41px;
			}

		}

	</style>
	<div class="whatsapp-popup">
		<svg class="close-btn" onclick="closepopup();" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0)">
				<path d="M6.68183 5.49529L10.7559 1.42123C11.0812 1.0962 11.0812 0.569042 10.7559 0.244043C10.4309 -0.0813093 9.90405 -0.0813093 9.5787 0.244043L5.50462 4.3181L1.43021 0.244013C1.10554 -0.0813379 0.578027 -0.0813379 0.253028 0.244013C-0.072001 0.569042 -0.072001 1.0962 0.253028 1.4212L4.32743 5.49529L0.244013 9.57871C-0.0813377 9.90406 -0.0813377 10.4309 0.244013 10.7559C0.406513 10.9188 0.619647 11 0.832782 11C1.04557 11 1.2587 10.9188 1.42123 10.7559L5.50462 6.6725L9.5787 10.7466C9.74155 10.9091 9.95434 10.9907 10.1675 10.9907C10.3803 10.9907 10.5934 10.9091 10.7559 10.7466C11.0813 10.4216 11.0813 9.89476 10.7559 9.5694L6.68183 5.49529Z" fill="#585858" />
			</g>
			<defs>
				<clipPath id="clip0">
					<rect width="11" height="11" fill="white" />
				</clipPath>
			</defs>
		</svg>

		<a href="https://wa.me/918291121661?text=Hey,%20I%20just%20checked%20out%20Weddingo.%20I%20am%20interested%20in%20creating%20an%20invitation%20for%20myself." target="_new">


			<p class="top-text">Reach out to us on <span class="sec-color">Whatsapp</span></p>


			<div class="notify-content">
				<p class="content-text">weddin<span class="sec-color">G</span></p>
				<svg class="whatsapp-icon-btn" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
					<g>
						<path id="WhatsApp" d="M90,43.841c0,24.213-19.779,43.841-44.182,43.841c-7.747,0-15.025-1.98-21.357-5.455L0,90l7.975-23.522
		c-4.023-6.606-6.34-14.354-6.34-22.637C1.635,19.628,21.416,0,45.818,0C70.223,0,90,19.628,90,43.841z M45.818,6.982
		c-20.484,0-37.146,16.535-37.146,36.859c0,8.065,2.629,15.534,7.076,21.61L11.107,79.14l14.275-4.537
		c5.865,3.851,12.891,6.097,20.437,6.097c20.481,0,37.146-16.533,37.146-36.857S66.301,6.982,45.818,6.982z M68.129,53.938
		c-0.273-0.447-0.994-0.717-2.076-1.254c-1.084-0.537-6.41-3.138-7.4-3.495c-0.993-0.358-1.717-0.538-2.438,0.537
		c-0.721,1.076-2.797,3.495-3.43,4.212c-0.632,0.719-1.263,0.809-2.347,0.271c-1.082-0.537-4.571-1.673-8.708-5.333
		c-3.219-2.848-5.393-6.364-6.025-7.441c-0.631-1.075-0.066-1.656,0.475-2.191c0.488-0.482,1.084-1.255,1.625-1.882
		c0.543-0.628,0.723-1.075,1.082-1.793c0.363-0.717,0.182-1.344-0.09-1.883c-0.27-0.537-2.438-5.825-3.34-7.977
		c-0.902-2.15-1.803-1.792-2.436-1.792c-0.631,0-1.354-0.09-2.076-0.09c-0.722,0-1.896,0.269-2.889,1.344
		c-0.992,1.076-3.789,3.676-3.789,8.963c0,5.288,3.879,10.397,4.422,11.113c0.541,0.716,7.49,11.92,18.5,16.223
		C58.2,65.771,58.2,64.336,60.186,64.156c1.984-0.179,6.406-2.599,7.312-5.107C68.398,56.537,68.398,54.386,68.129,53.938z" />
					</g>
				</svg>

			</div>

		</a>
	</div>

	<script>
		function closepopup() {
			document.getElementsByClassName("whatsapp-popup")[0].style.display = "none";
		}

	</script>
